{% extends "student/base.html" %}

{% block title %}{{ profile.get_full_name }}{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-user"></i> Profile
                </li>
            </ol>

            <h1 class="page-header">
                {{ profile.get_full_name }}
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <img src="{{profile.photo_url}}" class="img-thumbnail" width="200px">
    <br>
    <br>
    <p><strong>Email:</strong> {{ profile.email }}</p>
    <p><strong>Address:</strong> {{ profile.address }}</p>
    <p><strong>Current town:</strong> {{ profile.current_town }}</p>
    <p><strong>Phone number:</strong> {{ profile.phone_number }}</p>
    <p><strong>Date of birth:</strong> {{ profile.dob }}</p>
    <p><strong>Short description:</strong> {{ profile.summary }}</p>
    <p><strong>GitHub:</strong> <a href="{{profile.github_url}}">{{ profile.github_url }}</a></p>
    <p><strong>LinkedIn:</strong> <a href="{{profile.linkedin_url}}">{{ profile.linkedin_url }}</a></p>
    <p><strong>Job searching:</strong> {{ profile.job_searching }}<sup>*</sup></p>

    <p><sup>*</sup> Set this on True, if you want to have your profile presented to potential employers.</p>

    <a href="/student/profile/edit"><button class="btn btn-success">Edit your profile</button></a>
</div>
{% endblock main_content %}