{% extends "employer/base.html" %}

{% block title %}Candidates{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i> Candidates
                </li>
            </ol>

            <h1 class="page-header">
                Candidates
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <p>Candidates</p>

</div>
{% endblock main_content %}