{% extends "employer/base.html" %}

{% block title %}Candidates{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i> Candidates
                </li>
            </ol>

            <h1 class="page-header">
                Job candidates
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-4 pull-right">
            <form method="post" action="/employer">
                <div class="input-group">
                    <input class="form-control" placeholder="Search by skill (one skill per search)" name="skill">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <br>

    {% if candidates %}
        {% for candidate in candidates %}
        <div class="row">
            <div class="col-lg-3">
                <a href="/employer/candidate/{{candidate.get_id}}">
                    {% if candidate.photo_url != "None" %}
                        <img class="img-responsive img-thumbnail" src="{{candidate.photo_url}}" alt="{{candidate.get_full_name}}" width="200px">
                    {% else %}
                        <img class="img-responsive img-thumbnail" src="/assets/img/public/facebook.jpg" alt="{{candidate.get_full_name}}" width="200px">
                    {% endif %}
                </a>
            </div>

            <div class="col-lg-7">
                <a href="/employer/candidate/{{candidate.get_id}}"><h3>{{candidate.get_full_name}}</h3></a>


                <h5><i class="fa fa-certificate"></i>
                    {% for tag in candidate.grade_all_tags %}
                        {{ tag }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </h5>
                <br>

                <h5><i class="fa fa-location-arrow"></i> {{candidate.current_town}}</h5>
                <br>

                <p><i class="fa fa-comment"></i> {{candidate.summary}}</p>
            </div>

            <div class="col-lg-1" data-toggle="tooltip" data-placement="left" title="1.0 (the worst), 4.0 (the best)">
                <h1>
                    {% if candidate.grade_avg_score >= 3.0 %}
                    <span class="label label-info">
                    {% elif candidate.grade_avg_score >= 2.0 and candidate.grade_avg_score < 3.0 %}
                    <span class="label label-warning">
                    {% elif candidate.grade_avg_score >= 0.0 and candidate.grade_avg_score < 2.0 %}
                    <span class="label label-danger">
                    {% endif %}
                        {{candidate.grade_avg_score}}
                    </span>
                </h1>
            </div>
        </div>

        <hr>
        {% endfor %}
    {% else %}
        <p>No candidates... yet. New courses will bring new forces :)</p>
    {% endif %}

</div>
{% endblock main_content %}

{% block scripts %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock scripts %}