{% extends "employer/base.html" %}

{% block title %}{{ candidate.get_full_name }} details{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i> <a href="/employer">Candidates</a>
                </li>

                <li>
                    <i class="fa fa-user"></i> {{ candidate.get_full_name }}
                </li>
            </ol>

            <h1 class="page-header">
                {{ candidate.get_full_name }}
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- Info -->
    <div class="row">
        <div class="col-lg-3">
            {% if candidate.photo_url == "None" or candidate.photo_url == "" %}
                <img class="img-responsive img-thumbnail" src="/assets/img/public/facebook.jpg" alt="{{candidate.get_full_name}}" width="200px">
            {% else %}
                <img class="img-responsive img-thumbnail" src="{{candidate.photo_url}}" alt="{{candidate.get_full_name}}" width="200px">
            {% endif %}
        </div>

        <div class="col-lg-7">

            <p><i class="fa fa-certificate"></i>
                <strong>Skills from courses:</strong>
                {% for tag in candidate.grade_all_tags %}
                    {{ tag }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </p>

            {% if candidate.started_programming %}
                <p><i class="fa fa-code"></i> <strong>Started programming:</strong> {{candidate.started_programming.strftime('%B %Y')}}</p>
            {% endif %}

            {% if candidate.current_town and candidate.current_town != "None" %}
            <p><i class="fa fa-location-arrow"></i>
                <strong>Current town</strong>
                {{candidate.current_town}}
            </p>
            {% endif %}

            {% if candidate.github_url and candidate.github_url != "None" %}
            <p>
                <i class="fa fa-github"></i>
                <strong>GitHub: </strong>
                <a href="{{candidate.github_url}}">{{candidate.github_url}}</a>
            </p>
            {% endif %}

            {% if candidate.linkedin_url and candidate.linkedin_url != "None" %}
            <p>
                <i class="fa fa-linkedin"></i>
                <strong>LinkedIn: </strong>
                <a href="{{candidate.linkedin_url}}">{{candidate.linkedin_url}}</a>
            </p>
            {% endif %}

            {% if candidate.homepage_url and candidate.homepage_url != "None" %}
            <p>
                <i class="fa fa-home"></i>
                <strong>Homepage: </strong>
                <a href="{{candidate.homepage_url}}">{{candidate.homepage_url}}</a>
            </p>
            {% endif %}

            {% if candidate.summary and candidate.summary != "None" %}
            <p><i class="fa fa-comment"></i>
                <strong>About me: </strong>
                {{candidate.summary}}
            </p>
            {% endif %}

            <br>

            {% if candidate.cv_blob %}
            <a href="/employer/candidate/{{candidate.get_id}}/cv">
                <button class="btn btn-warning">Download my CV</button>
            </a>
            {% endif %}
        </div>


        <div class="col-lg-2">
            <div class="row">

            {% if candidate.grade_top_student > 0 %}
                <div class="col-lg-6"  data-toggle="tooltip" data-placement="bottom" title="Top student">
                    <h1><span class="label label-warning"><i class="fa fa-star"></i></span></h1>
                </div>
            {% endif %}


            {% if employer.partner_id in candidate.contacted_by or employer.get_id in candidate.contacted_by %}
                <div class="col-lg-6"  data-toggle="tooltip" data-placement="bottom" title="Already contacted">
                    <h1><span class="label label-primary"><i class="fa fa-check"></i></span></h1>
                </div>
            {% endif %}
            </div>
        </div>

    </div>
    <!-- Info end -->

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-danger btn-lg center-block" data-toggle="modal" data-target="#contactCandidateModal">Contact this candidate!</button>

            {% if contact_success %}
                <br>
                <div class="alert alert-success" role="alert">Candidate successfully contacted!</div>
            {% endif %}

        </div>
    </div>

    {% if candidate.long_description %}
    <h2>Description</h2>
    <p>{{candidate.long_description}}</p>
    {% endif %}

    <!-- Courses -->
    <h2>{{candidate.first_name}}'s courses</h2>
    <br>

    {% for application in applications %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="/course/{{application.course_id}}" target="_blank">{{ application.course_title }}</a>
                <span class="label label-info" data-toggle="tooltip" data-placement="top" title="Course level">
                    {% if application.course_level == 1 %}
                        Beginner
                    {% elif application.course_level == 2 %}
                        Intermediate
                    {% elif application.course_level == 3 %}
                        Advanced
                    {% endif %}
                </span>
            </h3>
        </div>

        <div class="panel-body">

            <p>
                <i class="fa fa-calendar"></i> <strong>Date:</strong> {{application.created.strftime('%b %Y')}}
            </p>

            <p data-toggle="tooltip" data-placement="left" title="1 is the worst, 4 is the best">
                <i class="fa fa-graduation-cap"></i> <strong>Grade:</strong> {{application.grade_score}}
                {% if application.grade_top_student %}
                    <i class="fa fa-star"></i> Top student
                {% endif %}
            </p>

            <p>
                <i class="fa fa-certificate"></i>
                 <strong>Skills:</strong>
                {% for tag in application.grade_tags %}
                    {{ tag }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </p>
            <p>
                <i class="fa fa-institution"></i>
                 <strong>Instructor summary:</strong>
                <br>
                {{application.grade_summary|nl2br}}
            </p>
        </div>
    </div>
    {% endfor %}
    <!-- Courses end -->

    <!-- Modal - contact the candidate -->
    <div class="modal fade" id="contactCandidateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="/employer/candidate/{{candidate.get_id}}">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Contact {{candidate.get_full_name}}</h4>
                    </div>


                    <div class="modal-body">
                        <p>Send the following message to {{candidate.first_name}}:</p>

                        <textarea class="form-control" rows="8" name="message">
Hello!

I'd like to discuss with you a possible job opportunity. Please send me an email to {{ user.email() }} if you're interested.

Kind regards,
{{employer.full_name}}{% if employer.partner_title %}, {{employer.partner_title}}{% endif %}</textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Send to {{candidate.first_name}}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End modal - contact the candidate -->
</div>
{% endblock main_content %}

{% block scripts %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock scripts %}