{% extends "instructor/base.html" %}

{% block title %}Delete blog post{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-book"></i>  <a href="/instructor/blog">Blog</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i>  <a href="/instructor/blog/{{post.get_id}}">{{ post.title }}</a>
                </li>
                <li class="active">
                    <i class="fa fa-remove"></i> Delete blog post
                </li>
            </ol>

            <h1 class="page-header">
                Do you really want to delete {{ post.title }}
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-3">
            <form action="/instructor/blog/{{post.get_id}}/delete" method="post">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>

        <div class="col-lg-3">
            <a href="/instructor/blog/{{post.get_id}}"><button class="btn btn-default">Cancel</button></a>
        </div>
    </div>
</div>
{% endblock main_content %}