{% extends "instructor/base.html" %}

{% block title %}Grade for {{ application.student_name }}{% endblock title %}

{% block scripts %}
    <script src="/assets/js/admin/tags.js"></script>
{% endblock scripts %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-institution"></i>  <a href="/instructor/courses">Courses</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="/instructor/course/{{application.course_id}}">{{application.course_title}}</a>
                </li>
                <li class="active">
                    <i class="fa fa-graduation-cap"></i> <a href="/instructor/grade/{{application.get_id}}">Grade for {{ application.student_name }}</a>
                </li>
            </ol>

            <h1 class="page-header">
                Grade for {{ application.student_name }}
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->
    <p>Grade a student after the course. Grading helps to evaluate students (they don't see their scores). Scores are
        visible to IT companies, so they can find the right person and offer them a job.</p>
    <p><strong>Score</strong> is from 1 to 4 (1 is the worst, 4 is the best). In <strong>summary</strong> you write how successful student was, if s/he did
    their homeworks in time, what are their strength and weaknesses etc. In <strong>tags add skills</strong> that they posses now (like
        JavaScript, Python, PHP etc.)</p>

    <hr>

    <div class="row">
        <div class="col-lg-7">
            <form action="/instructor/grade/{{ application.get_id }}/edit" method="post">

                <div class="form-group">
                    <label>Score</label>
                    <input type="number" class="form-control" value="{{application.grade_score}}" name="score">
                </div>

                <div class="form-group input_fields_wrap">
                    <label>Tags</label>

                    <button class="btn btn-default" id="add_field_button">Add tag</button>
                    <input type="hidden" id="allData" name="all-tags">

                    {% for tag in application.grade_tags %}
                    <div id="addedTags">
                        <input type="text" class="myTag" value="{{tag}}" name="tags"> <a href="#" class="remove_field">Remove</a>
                        <br>
                    </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label>Summary</label>
                    <textarea class="form-control" style="height: 300px;" name="summary">{{application.grade_summary}}</textarea>
                </div>

                <button type="submit" class="btn btn-success" id="submitButton">Submit</button>
            </form>

        </div>
    </div>

</div>
{% endblock main_content %}