{% extends "instructor/base.html" %}

{% block title %}Edit report for {{report.lesson_date}}{% endblock title %}

{% block css %}
    <link href="/assets/js/jqueryui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block scripts %}
    <script type="text/javascript" src="/assets/js/jqueryui/jquery-ui.min.js"></script>

    <script language="javascript">
        $(document).ready(function()	{
            $('.datepicker input').datepicker();
        });
    </script>
{% endblock scripts %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-institution"></i>  <a href="/instructor/courses">Courses</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="/instructor/report/{{report.get_id}}">{{report.lesson_date}}</a>
                </li>
                <li class="active">
                    <i class="fa fa-plus-square-o"></i> Edit report for {{report.lesson_date}}
                </li>
            </ol>

            <h1 class="page-header">
                Edit report for {{report.lesson_date}}
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-7">
            <form action="/instructor/report/{{report.get_id}}/edit" method="post">

                <div class="form-group datepicker">
                    <label>Lesson date</label>
                    <input type="text" class="form-control" name="date" value="{{report.lesson_date.month}}/{{report.lesson_date.day}}/{{report.lesson_date.year}}">
                </div>

                <div class="form-group">
                    <label>Text</label>
                    <p>
                        What topic did you have?
                        Were there any problems?
                        Would you improve anything?
                        Did somebody miss the class?
                        Who didn't do their homework?
                    </p>
                    <textarea class="form-control" style="height: 300px;" name="text">{{report.text}}</textarea>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <br>
</div>
{% endblock main_content %}