.main-center {
    padding: 40px 15px;
    text-align: center;
    height: 800px;
    background-color: #ffffff;
}

.main {
    padding: 20px 15px;
    height: 700px;
    background-color: #ffffff;
}

.container-fluid
{
    padding-top:80px;
    padding-bottom: 50px;
}

body {
    background-color: #ffffff;
}

.full-grade {
    font-size: 0.9em;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 400px;
}