<!DOCTYPE html>

<html>
    <head>
       <title>Predračun za SmartNinja tečaj</title>
       <meta charset="UTF-8">
    </head>

    <style>
        body {
            margin: 10px;
        }

        .snit {
            text-align: center;
        }

        .stolpec {
            display: inline-block;
            width: 300px;
        }

        .predracun {
        	max-width: 610px;
            margin: 0 auto;
        }

        table {
            border-collapse: collapse;
            width: 80%;
            margin: 0 auto;
        }

        td {
            height: 50px;
            vertical-align: middle;
        }

        .produkt, .produkt th, .produkt td {
            border: 1px solid black;
            text-align: center;
        }

        .podpis {
            margin-left: 110px;
        }

        .logo {
            width: 300px;
            margin: 0 auto;
        }

    </style>

    <body>
       <p class="snit" style="text-align: center;">
           SNIT d.o.o., Ulica Slavka Gruma 100, 8000 Novo mesto
            <br>
           Davčna številka: 45457140, Davčni zavezanec: NE, Matična številka: 6779654000
       </p>
       <hr>

       <div class="predracun">
           <div class="stolpec" style="display: inline-block; width: 300px;">
               <p>Naročnik storitve:</p>
               {% if course_app.company_invoice %}
                    <h3>
                        {{course_app.company_title}}<br>
                        {{course_app.company_address}}<br>
                        {{course_app.company_zip}} {{course_app.company_town}}<br>
                        {{course_app.company_tax_number}}
                    </h3>
               {% else %}
                    <h3>{{course_app.student_name}}</h3>
               {% endif %}
               <p>PREDRAČUN št.: {{course_app.created.year}}-{{ts}}</p>
           </div>

           <div class="stolpec" style="display: inline-block; width: 300px;">
               <p>Kraj: Novo mesto</p>
               <p>Datum predračuna: {{course_app.created.day}}.{{course_app.created.month}}.{{course_app.created.year}}</p>
               <p>Datum zapadlosti plačila: {{final_date.day}}.{{final_date.month}}.{{final_date.year}}</p>
           </div>
       </div>

       <br>

       <table class="produkt" style="border: 1px solid black; text-align: center; border-collapse: collapse; width: 80%; margin: 0 auto;">
           <thead>
                <tr>
                    <th style="border: 1px solid black; text-align: center;">OPIS</th>
                    <th style="border: 1px solid black; text-align: center;">Količina</th>
                    <th style="border: 1px solid black; text-align: center;">Cena</th>
                    <th style="border: 1px solid black; text-align: center;">VREDNOST v EUR</th>
                </tr>
           </thead>

           <tbody>
                <tr>
                    <td style="border: 1px solid black; text-align: center; height: 50px; vertical-align: middle;">{{course_app.course_title}}</td>
                    <td style="border: 1px solid black; text-align: center; height: 50px; vertical-align: middle;">1x</td>
                    <td style="border: 1px solid black; text-align: center; height: 50px; vertical-align: middle;">{{price_str}} EUR</td>
                    <td style="border: 1px solid black; text-align: center; height: 50px; vertical-align: middle;">{{price_str}} EUR</td>
                </tr>
           </tbody>

           <tfoot>
                <tr>
                    <td style="border: 1px solid black; text-align: center; height: 50px; vertical-align: middle;"></td>
                    <td style="border: 1px solid black; text-align: center; height: 50px; vertical-align: middle;"></td>
                    <td style="border: 1px solid black; text-align: center; height: 50px; vertical-align: middle;"></td>
                    <td style="border: 1px solid black; text-align: center; height: 50px; vertical-align: middle;"><strong>SKUPAJ ZA PLAČILO: {{price_str}} EUR</strong></td>
                </tr>
           </tfoot>
       </table>

       <br>

       <p class="snit" style="text-align: center;">Znesek v dogovorjenem roku nakažite na naš TRR: IBAN <strong>SI56 1010 0005 4026 570</strong> (BANKA KOPER d.d.).</p>

        <p class="snit" style="text-align: center;">Pri plačilu se sklicujte na SI00 {{ts}}.</p>

        <p class="snit" style="text-align: center;">DDV ni obračunan na podlagi 1. odstavka 94. člena Zakona o davku na dodano vrednost (nismo zavezanci za DDV).</p>

       <br>
       <br>

        <p class="podpis" style="margin-left: 110px;"><strong>Izdajatelj</strong>
            <br>
            Miha Fabjan <br>
            (direktor)
            <br><br>
            <strong>Podpis</strong>
            <br>
            <img src="http://i.imgur.com/BHXmjmT.png">
            <br>
            (poslujemo brez žiga)
        </p>

        <br>
        <br>
        <br>

       <div class="logo" style="width: 300px; margin: 0 auto;">
           <img src="http://i.imgur.com/r4N2GLD.png">
       </div>

    </body>
</html>