{% extends "admin/base.html" %}

{% block title %}Course application{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-institution"></i>  <a href="/admin/courses">Courses</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i>  <a href="/admin/course/{{application.course_id}}">{{ application.course_title }}</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Course application
                </li>
            </ol>

            <h1 class="page-header">
                Application by {{ application.student_name }}
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <p>Student name: {{ application.student_name }}</p>
    <p>Course: {{ application.course_title }}</p>
    <p>Date of birth: {{ this_user.dob }}</p>
    <p>Phone number: {{ this_user.phone_number }}</p>
    <p>Address: {{ this_user.address }}</p>
    <p>Email: {{ this_user.email }}</p>
    <a href="/admin/application/{{application.get_id}}/delete"><button class="btn btn-danger">Delete application</button></a>

    <h3 class="page-header">Payment details</h3>
    <p>Selected price: {{application.price}} {{application.currency}}</p>

    <div class="row">
        <div class="col-lg-3">
            <form action="/admin/application/{{application.get_id}}" method="post">
                <div class="form-group">
                    <label>Paid</label>
                    <br>
                    <input type="checkbox" placeholder="Paid" name="paid" id="paid"
                        {% if application.payment_status %}checked{% endif %}
                    > Check if student has paid
                </div>

                <div class="form-group">
                    <label>Price paid ({{application.currency}})</label>
                    <input type="text" class="form-control" value="{{application.price}}" placeholder="Price paid" name="price" id="pricePaid">
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}