{% extends "admin/base.html" %}

{% block title %}Courses{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-institution"></i> Courses
                </li>
                <li class="active">
                    <i class="fa fa-plus-square-o"></i> <a href="/admin/course/add">Add new course</a>
                </li>
            </ol>

            <h1 class="page-header">
                Courses
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    {% if courses %}
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Place</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Spots taken</th>
                            <th>Instructor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            <td><a href="/admin/course/{{course.get_id}}">{{ course.title }}</a></td>
                            <td>{{ course.city }}, {{ course.place }}</td>
                            <td>{{ course.start_date }}</td>
                            <td>{{ course.end_date }}</td>
                            <td>{{ course.taken }}/{{ course.spots }}</td>
                            <td>
                                {% if course.instructor_name %}
                                    <a href="/admin/user/{{ course.instructor }}">
                                        {{ course.instructor_name }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.row -->
    {% else %}
        <p>No courses</p>
    {% endif %}

</div>
{% endblock main_content %}