{% extends "admin/base.html" %}

{% block title %}Edit course{% endblock title %}

{% block css %}
    <link href="/assets/js/jqueryui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/css/public/bootstrap-markdown.min.css">
{% endblock css %}

{% block scripts %}
    <script src="/assets/js/bootstrap-markdown/bootstrap-markdown.js"></script>
    <script src="/assets/js/bootstrap-markdown/bootstrap-markdown.sl.js"></script>
    <script src="/assets/js/bootstrap-markdown/markdown.js"></script>
    <script src="/assets/js/bootstrap-markdown/to-markdown.js"></script>
    <script src="/assets/js/bootstrap-markdown/script.js"></script>

    <script type="text/javascript" src="/assets/js/admin/slugify.js"></script>
        <script type="text/javascript" src="/assets/js/jqueryui/jquery-ui.min.js"></script>

    <script language="javascript">
        $(document).ready(function()	{
            $('.datepicker input').datepicker();
        });
    </script>

    <script src="/assets/js/admin/prices.js"></script>
{% endblock scripts %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-certificate"></i>  <a href="/admin/courses">Courses</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i>  <a href="/admin/course/{{course.get_id}}">{{ course.title }}</a>
                </li>
                <li class="active">
                    <i class="fa fa-plus-square-o"></i> Edit course
                </li>
            </ol>

            <h1 class="page-header">
                Edit {{ course.title }}
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-7">
            <form action="/admin/course/{{course.get_id}}/edit" method="post">

                <div class="form-group">
                    <label>Franchise</label>
                    <select class="form-control" name="franchise">
                        <option value="{{course.franchise_id}}" selected>{{ course.franchise_title }}</option>
                        <option disabled>------------------------------</option>
                        {% for franchise in franchises %}
                            <option value="{{ franchise.get_id }}">{{ franchise.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Curriculum</label>
                    <select class="form-control" name="course-type" id="courseType">
                        <option value="{{course.course_type}}" selected>{{ selected_course_type.title }}</option>
                        <option disabled>------------------------------</option>
                        {% for ctype in course_types %}
                            <option value="{{ ctype.get_id }}">{{ ctype.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Main instructor</label>
                    <select class="form-control" name="instructor" id="courseInstructor">
                        {% if course.course_instructors[0] %}
                            <option value="{{course.course_instructors[0].user_id}}|{{ course.course_instructors[0].name }}" selected>{{ course.course_instructors[0].name }}</option>
                        {% endif %}
                        <option disabled>------------------------------</option>
                        {% for instructor in instructors %}
                            <option value="{{ instructor.user_id }}|{{ instructor.full_name }}">{{ instructor.full_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Partner organization</label>
                    <select class="form-control" name="partner" id="coursePartner">
                        {% if course.partners[0] %}
                            <option value="{{course.partners[0].partner_id}}" selected>{{ course.partners[0].title }}</option>
                        {% endif %}
                        <option disabled>------------------------------</option>
                        <option value="">No partner</option>
                        {% for partner in partners %}
                            <option value="{{ partner.get_id }}">{{ partner.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Applications closed</label>
                    <br>
                    <input type="checkbox" placeholder="Closed" name="closed" id="closed"
                        {% if course.applications_closed %}checked{% endif %}
                    > Check if applications are closed (if course is full)
                </div>

                <div class="form-group">
                    <label>Level</label>
                    <select class="form-control" name="level" id="courseLevel">
                        <option value="{{course.level}}">
                            {% if course.level == 1 %}
                                Beginner
                            {% elif course.level == 2 %}
                                Intermediate
                            {% elif course.level == 3 %}
                                Advanced
                            {% endif %}
                        </option>
                        <option disabled>------------------------------</option>
                        <option value="1">Beginner</option>
                        <option value="2">Intermediate</option>
                        <option value="3">Advanced</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Category (like Programming, Graphic design etc.)</label>
                    <select class="form-control" name="category">
                        <option value="{{course.category}}" selected>{{ course.category }}</option>
                        <option disabled>------------------------------</option>
                        <option value="Programming">Programming</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Graphic design">Graphic design</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Tag</label>
                    <p>Examples: 2 dni, 12 tednov itd. Loči z vejicami (brez presledkov).</p>
                    <input type="text" class="form-control" value="{{tags}}" name="tags" id="courseTags">
                </div>

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" value="{{course.title}}" placeholder="Title" name="title" id="courseTitle">
                </div>

                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" value="{{course.city}}" placeholder="City" name="city" id="courseCity">
                </div>

                <div class="form-group">
                    <label>Place</label>
                    <input type="text" class="form-control" value="{{course.place}}" placeholder="Place" name="place" id="coursePlace">
                </div>

                <div class="form-group">
                    <label>Number of spots available</label>
                    <input type="text" class="form-control" value="{{course.spots}}" placeholder="Spots" name="spots" id="courseSpots">
                </div>

                <div class="form-group datepicker">
                    <label>Start date</label>
                    <input type="text" class="form-control" value="{{start_date}}" name="start-date" id="courseStartDate">
                </div>

                <div class="form-group datepicker">
                    <label>End date</label>
                    <input type="text" class="form-control" value="{{end_date}}" name="end-date" id="courseEndDate">
                </div>

                <div class="form-group input_fields_wrap">
                    <label>Price(s)</label>
                    <p>Example: 147.0 &emsp; 147,00 &emsp; Regular price</p>
                    <button class="btn btn-default add_field_button">Add another price</button>
                    <input type="hidden" id="allPricesData" name="all-prices-data">

                    {% for price in course.prices %}
                    <div id="addedPrices">
                        <input type="text" name="price_dot" placeholder="Price with dot" class="pricedot" value="{{price.price_dot}}">
                        <input type="text" name="price_comma" placeholder="Price with comma" class="pricecomma" value="{{price.price_comma}}">
                        <input type="text" name="price_summary" placeholder="Summary" class="pricesummary" value="{{price.summary}}">
                        <a href="#" class="remove_field">Remove</a>
                    </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label>Currency</label>
                    <select class="form-control" name="currency" id="courseCurrency">
                        <option value="{{course.currency}}" selected>{{course.currency}}</option>
                        <option disabled>------</option>
                        <option value="EUR">EUR</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Image URL</label>
                    <p>Image h/w ratio should be 3/5</p>
                    <input type="text" class="form-control" value="{{course.image_url}}" placeholder="A link (URL) to the image" name="image_url" id="imageURL">
                </div>

                <div class="form-group">
                    <label>Summary (short description, up to 120 chars)</label>
                    <input type="text" class="form-control" value="{{course.summary}}" placeholder="Summary" name="summary" id="courseSummary">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <p>See <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown CheatSheet</a></p>
                    <textarea name="description" class="form-control markdown" rows="6">{{course.description}}</textarea><br>
                </div>

                <button type="submit" class="btn btn-success" id="addCourseButton">Submit</button>
            </form>
        </div>
    </div>

    <br>
</div>
{% endblock main_content %}