{% extends "admin/base.html" %}

{% block title %}Delete course{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i>  <a href="/admin/courses">Courses</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Delete course
                </li>
            </ol>

            <h1 class="page-header">
                Do you really want to delete {{ course.title }}
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-3">
            <form action="/admin/course/{{course.get_id}}/delete" method="post">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>

        <div class="col-lg-3">
            <a href="/admin/course/{{course.get_id}}"><button class="btn btn-default">Cancel</button></a>
        </div>
    </div>
</div>
{% endblock main_content %}