{% extends "admin/base.html" %}

{% block title %}Courses{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-institution"></i> Courses
                </li>
                <li class="active">
                    <i class="fa fa-plus-square-o"></i> <a href="/admin/course/add">Add new course</a>
                </li>
            </ol>

            <h1 class="page-header">
                Courses
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    {% if courses %}
        <ul>
            {% for course in courses %}
                <li><a href="/admin/course/{{course.get_id}}">{{ course.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No courses</p>
    {% endif %}
</div>
{% endblock main_content %}