{% extends "admin/base.html" %}

{% block title %}Add new employer{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i>  <a href="/admin/users">Users</a>
                </li>
                <li>
                    <i class="fa fa-users"></i>  <a href="/admin/users/employers">Employers</a>
                </li>
            </ol>

            <h1 class="page-header">
                Add new employer
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-7">
            <form action="/admin/users/employer/add" method="post">

                <div class="form-group">
                    <label>Employer email</label>
                    <input type="text" class="form-control" placeholder="Employer user email" name="email">
                </div>

                <div class="form-group">
                    <label>Employer first name (if new user)</label>
                    <input type="text" class="form-control" placeholder="First name" name="first-name">
                </div>

                <div class="form-group">
                    <label>Employer last name (if new user)</label>
                    <input type="text" class="form-control" placeholder="Last name" name="last-name">
                </div>

                <div class="form-group">
                    <label>Company</label>
                    <select class="form-control" name="partner">
                        <option value="" selected>Select company</option>
                        {% for partner in partners %}
                            <option value="{{ partner.get_id }}">{{ partner.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-success">Add employer</button>
            </form>
        </div>
    </div>

    <br>
</div>
{% endblock main_content %}