{% extends "admin/base.html" %}

{% block title %}Add new lesson{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="/assets/js/markitup/skins/markitup/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/js/markitup/sets/markdown/style.css" />

    <script type="text/javascript" src="/assets/js/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/assets/js/markitup/sets/markdown/set.js"></script>

    <script type="text/javascript" src="/assets/js/admin/slugify.js"></script>

    <script language="javascript">
        $(document).ready(function()	{
            $('#markdown').markItUp(mySettings);
        });
    </script>
{% endblock scripts %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-puzzle-piece"></i>  <a href="/admin/course/types">Course Types</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="/admin/course/type/{{course_type.get_id}}">{{course_type.title}}</a>
                </li>
                <li class="active">
                    <i class="fa fa-plus-square-o"></i> Add new lesson
                </li>
            </ol>

            <h1 class="page-header">
                Add new lesson
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-7">
            <form action="/admin/course/type/{{course_type.get_id}}/add-lesson" method="post">

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Title" name="title">
                </div>

                <div class="form-group">
                    <label>Order</label>
                    <input type="number" class="form-control" value="1" name="order">
                </div>

                <div class="form-group">
                    <label>Text</label>
                    <p>See <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown CheatSheet</a></p>
                    <textarea class="form-control" style="height: 300px;" name="text" id="markdown"></textarea>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <br>
</div>
{% endblock main_content %}