{% extends "admin/base.html" %}

{% block title %}Partner users{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i>  <a href="/admin/users">Users</a>
                </li>
                <li>
                    <i class="fa fa-users"></i>  Partner users
                </li>
                <li>
                    <i class="fa fa-plus-square-o"></i>  <a href="/admin/partner-course/add">Add new partner user</a>
                </li>
            </ol>

            <h1 class="page-header">
                Partner users
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- Tabs start -->
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/admin/users">Users</a></li>
        <li role="presentation"><a href="#">Managers</a></li>
        <li role="presentation" class="active"><a href="/admin/partner-courses">Partner Users</a></li>
    </ul>
    <!-- End Tabs -->

    <div class="row">
        <div class="col-lg-12">
            <h3>Partner users and courses</h3>
            <p>To what courses have some partner users access to.</p>
            {% if pucs %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Course</th>
                            <th>City</th>
                            <th>Start date</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for puc in pucs %}
                        <tr>
                            <td><a href="/admin/user/{{puc.user_id}}">{{ puc.user_name }}</a></td>
                            <td>{{ puc.user_email }}</td>
                            <td><a href="/admin/course/{{ puc.course_id }}">{{ puc.course_title }}</a></td>
                            <td>{{ puc.course_city }}</td>
                            <td>{{ puc.course_start_date }}</td>
                            <td><a href="/admin/partner-course/{{ puc.get_id }}/delete">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <p>No partner users added yet</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main_content %}