{% extends "admin/base.html" %}

{% block title %}Add new partner{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-briefcase"></i>  <a href="/admin/partners">Partners</a>
                </li>
                <li class="active">
                    <i class="fa fa-plus-square-o"></i> Add new partner
                </li>
            </ol>

            <h1 class="page-header">
                Add new partner
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-7">
            <form action="/admin/partner/add" method="post">

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Title" name="title">
                </div>

                <div class="form-group">
                    <label>Franchise</label>
                    <select class="form-control" name="franchise">
                        <option value="" selected>Select franchise</option>
                        {% for franchise in franchises %}
                            <option value="{{ franchise.get_id }}">{{ franchise.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Website</label>
                    <input type="text" class="form-control" placeholder="Website" name="website">
                </div>

                <div class="form-group">
                    <label>Logo image URL</label>
                    <p>Image size: 200x200 px</p>
                    <input type="text" class="form-control" placeholder="A link (URL) to the logo" name="logo">
                </div>

                <div class="form-group">
                    <label>Summary (short description, up to 120 chars)</label>
                    <input type="text" class="form-control" placeholder="Summary" name="summary">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" style="height: 300px;" name="description"></textarea>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <br>
</div>
{% endblock main_content %}