{% extends "admin/base.html" %}

{% block title %}Student access{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i>  <a href="/admin/users">Users</a>
                </li>
                <li>
                    <i class="fa fa-users"></i>  Student access to past courses
                </li>
                <li>
                    <i class="fa fa-plus-square-o"></i>  <a href="/admin/users/students/add">Add new student to course</a>
                </li>
            </ol>

            <h1 class="page-header">
                Students access
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- Tabs start -->
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/admin/users">Admins</a></li>
        <li role="presentation"><a href="/admin/users/managers">Managers</a></li>
        <li role="presentation"><a href="/admin/users/employers">Employers</a></li>
        <li role="presentation"><a href="/admin/users/instructors">Instructors</a></li>
        <li role="presentation"><a href="/admin/partner-courses">Partner Users</a></li>
        <li role="presentation" class="active"><a href="/admin/users/students">Student access</a></li>
        <li role="presentation"><a href="/admin/users/all">All users</a></li>
        <li role="presentation"><a href="/admin/careers">Careers</a></li>
    </ul>
    <!-- End Tabs -->

    <div class="row">
        <div class="col-lg-12">
            <h3>Student access to the past courses</h3>
            <p>To what past courses students have access to.</p>

            <!-- Past courses -->
            <h4>Past courses</h4>
            {% if past_courses %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>City</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Instructor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in past_courses %}
                        <tr>
                            <td><a href="/admin/course/{{course.get_id}}/student-access">{{ course.title }}</a></td>
                            <td>{{ course.city }}, {{ course.place }}</td>
                            <td>{{course.start_date.day}}.{{course.start_date.month}}.{{course.start_date.year}}</td>
                            <td>{{course.end_date.day}}.{{course.end_date.month}}.{{course.end_date.year}}</td>
                            <td>
                                {% for instructor in course.course_instructors %}
                                    <a href="/admin/user/{{ instructor.user_id }}">
                                        {{ instructor.name }}
                                    </a>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <p>No past courses</p>
            {% endif %}
            <!-- End Past courses -->

        </div>
    </div>
</div>
{% endblock main_content %}