{% extends "admin/base.html" %}

{% block title %}Users{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i>  Users
                </li>
            </ol>

            <h1 class="page-header">
                Users
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    {% if users %}
        <ul>
            {% for myuser in users %}
                <li><a href="/admin/user/{{myuser.get_id}}">{{ myuser.get_full_name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users yet</p>
    {% endif %}
</div>
{% endblock main_content %}