{% extends "admin/base.html" %}

{% block title %}Users{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i>  Users
                </li>
            </ol>

            <h1 class="page-header">
                Users
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <h3>Admins</h3>
    {% if admins %}
        <ul>
            {% for admin in admins %}
                <li><a href="/admin/user/{{admin.get_id}}">{{ admin.get_full_name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No admins yet</p>
    {% endif %}

    <h3>Students</h3>
    {% if students %}
        <ul>
            {% for student in students %}
                <li><a href="/admin/user/{{student.get_id}}">{{ student.get_full_name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No students yet</p>
    {% endif %}
</div>
{% endblock main_content %}