{% extends "admin/base.html" %}

{% block title %}Edit user{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i>  <a href="/admin/users">Users</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i>  <a href="/admin/user/{{this_user.get_id}}">{{ this_user.get_full_name }}</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Edit user
                </li>
            </ol>

            <h1 class="page-header">
                {{ this_user.get_full_name }}
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-7">
            <form action="/admin/user/{{this_user.get_id}}/edit" method="post">

                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" placeholder="First name" value="{{this_user.first_name}}" name="first_name" id="firstName">
                </div>

                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" placeholder="Last name" value="{{this_user.last_name}}" name="last_name" id="lastName">
                </div>

                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Address" value="{{this_user.address}}" name="address" id="address">
                </div>

                <div class="form-group">
                    <label>Current town</label>
                    <input type="text" class="form-control" placeholder="Current town" value="{{this_user.current_town}}" name="current-town">
                </div>

                <div class="form-group">
                    <label>Phone number</label>
                    <input type="text" class="form-control" placeholder="Phone number" value="{{this_user.phone_number}}" name="phone_number" id="phoneNumber">
                </div>

                <div class="form-group">
                    <label>Date of birth</label>
                    <input type="text" class="form-control" placeholder="Date of birth" value="{{this_user.dob}}" name="dob" id="dob">
                </div>

                <div class="form-group">
                    <label>GitHub URL</label>
                    <input type="text" class="form-control" placeholder="GitHub URL" value="{{this_user.github_url}}" name="github_url">
                </div>

                <div class="form-group">
                    <label>LinkedIn URL</label>
                    <input type="text" class="form-control" placeholder="LinkedIn URL" value="{{this_user.linkedin_url}}" name="linkedin_url">
                </div>

                <div class="form-group">
                    <label>Homepage URL (if you have one)</label>
                    <input type="text" class="form-control" placeholder="Homepage URL" value="{{this_user.homepage_url}}" name="homepage_url">
                </div>

                <div class="form-group">
                    <label>Summary</label>
                    <p>Short summary of what you do (up to 100 chars)</p>
                    <input type="text" class="form-control" placeholder="Summary" value="{{this_user.summary}}" name="summary" id="summary">
                </div>

                <div class="form-group">
                    <label>Photo URL</label>
                    <input type="text" class="form-control" placeholder="A link (URL) to your photo" value="{{this_user.photo_url}}" name="photo_url" id="photoURL">
                </div>

                <div class="form-group">
                    <label>Job searching</label>
                    <br>
                    <input type="checkbox" placeholder="Job searching" name="searching"
                        {% if this_user.job_searching %}checked{% endif %}
                    > Check if this user is searching for a job
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <br>
</div>
{% endblock main_content %}