{% extends "public/base.html" %}

{% block title %}O nas{% endblock title %}

{% block main_content %}
<section id="sub-header-small">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>O nas</h1>
            <br>
			<p class="lead boxed">Ekipa SmartNinja</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
<div class="container">

	 <div class="row">
	<div class="col-md-7">

		<h2>Učimo uporabne IT veščine</h2>

        <br>

        <p>V vsakem izmed nas se skrivajo talenti, ki jih mnogokrat tradicionalni izobraževalni sistem ne prepozna.
            Misija SmartNinje je ljudem pomagati odkriti in razviti talente ter veščine na sodobnem IT področju.
            Veščine, ki ti bodo pomagale lažje najti službo - ali pa jo celo ustvariti! V ta namen organiziramo šole
            spletnega in mobilnega programiranja, grafičnega oblikovanja, projektnega managementa, digitalnega
            marketinga, interneta stvari (IoT) in še več.</p>

        <h4>Če želiš odkriti IT ninjo v sebi, nas obišči. Več znaš, več veljaš!</h4>

		</div>
		<div class="col-md-4 col-md-offset-1">
        
        <h3>Klub mladih podjetnikov</h3>
		<ul id="contact-info">
			<li><i class="icon-home"></i> Podbreznik 15, 8000 Novo mesto</li>
			<li><i class="icon-phone"></i> 031 841 723</li>
			<li><i class=" icon-email"></i> <a href="mailto:info@smartninja.org">info@smartninja.org</a></li>
			<li><strong>Davčna št.</strong>: 85918571</li>
			<li><strong>Davčni zavezanec</strong>: NE</li>
			<li><strong>Matična št.</strong>: 4054415000</li>
		</ul>
		<hr>
		<h3>Sledi nam</h3>
		<ul id="follow_us_contacts">
			<li><a href="https://www.facebook.com/pages/SmartNinja/1563841910494321"><i class="icon-facebook"></i>/SmartNinja</a></li>
			<li><a href="https://twitter.com/smartninjaorg"><i class="icon-twitter"></i>/smartninjaorg</a></li>
		</ul>

       </div>
	</div><!-- End row -->

    <hr>
       <div class="row">
                    	<div class="col-md-4 col-sm-6">
                        	<div class=" box_style_3">
                            	<p><img src="/assets/img/public/miha_fabjan.jpg" alt="Teacher" class="img-circle styled"></p>
                                <h4 class="p-title">Miha Fabjan <small>CEO</small>
                                <br><small>Organization Ninja</small></h4>
                                <ul class="social_team">
                          <li><a href="http://www.linkedin.com/pub/miha-fabjan/52/583/b05" target="_blank"><i class="icon-linkedin"></i></a></li>
                          <li><a href="http://twitter.com/miha_fabjan" target="_blank"><i class="icon-twitter"></i></a></li>
                          <li><a href="http://www.facebook.com/miha.fabjan" target="_blank"><i class="icon-facebook"></i></a></li>

                      </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                        	<div class=" box_style_3">
                            	<p><img src="/assets/img/public/matej_ramuta.jpg" alt="Teacher" class="img-circle styled"></p>
                                <h4 class="p-title">Matej Ramuta <small>CTO</small>
                                <br><small>Education Ninja</small></h4>
                                <ul class="social_team">
                          <li><a href="http://www.linkedin.com/in/ramuta" target="_blank"><i class="icon-linkedin"></i></a></li>
                          <li><a href="http://github.com/ramuta" target="_blank"><i class="icon-github"></i></a></li>
                          <li><a href="http://www.facebook.com/matej.ramuta" target="_blank"><i class="icon-facebook"></i></a></li>

                      </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                        	<div class=" box_style_3">
                            	<p><img src="/assets/img/public/ziga_besal.jpg" alt="Teacher" class="img-circle styled"></p>
                                <h4 class="p-title">Ziga Besal <!--<small>Janitor</small>-->
                                <br><small>Tech Ninja</small></h4>
                                <ul class="social_team">
                          <li><a href="http://www.linkedin.com/in/besal" target="_blank"><i class="icon-linkedin"></i></a></li>
                          <li><a href="http://github.com/ekranac" target="_blank"><i class="icon-github"></i></a></li>
                          <li><a href="http://www.facebook.com/zigabesal21" target="_blank"><i class="icon-facebook"></i></a></li>
                      </ul>
                            </div>
                        </div>
                        
                        <hr>
                        
                        
        </div>

        <!-- CONTACT FORM -->
        <div class=" box_style_2" id="contact-form">
			<span class="tape"></span>
			<div class="row">
				<div class="col-md-12">
					<h3>Vprašaj nas karkoli</h3>
				</div>
			</div>
			<div id="message-contact"></div>
			<form method="post" action="/contact">
                <input type="hidden" name="hidden">

				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input type="text" class="form-control style_2" id="name_contact" name="first_name" placeholder="Ime">
                            <span class="input-icon"><i class="icon-user"></i></span>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input type="text" class="form-control style_2" id="lastname_contact" name="last_name" placeholder="Priimek">
                            <span class="input-icon"><i class="icon-user"></i></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input type="email" id="email_contact" name="email" class="form-control style_2" placeholder="Tvoj email">
                            <span class="input-icon"><i class="icon-email"></i></span>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<input type="text" id="phone_contact" name="phone" class="form-control style_2" placeholder="Telefonska številka (če želiš)">
                            <span class="input-icon"><i class="icon-phone"></i></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea rows="5" id="message_contact" name="message" class="form-control" placeholder="Tvoje sporočilo" style="height:200px;"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input type="submit" value="Pošlji" class="button_medium pull-right"/>
					</div>
				</div>
			</form>
		</div>

</div><!-- End container -->
</section><!-- End main_content-->

{% endblock main_content %}