{% extends "public/base.html" %}

{% block title %}Blog{% endblock title %}

{% block social %}
    <!-- START FACEBOOK OPEN GRAPH -->
    <meta name="og:url" content="http://smartninja.org">
    <meta name="og:title" content="{{post.title}}">
    <meta name="og:description" content="{{post.text[:120]}}">
    <meta name="og:type" content="website">
    <meta name="og:image" content="{{post.cover_image}}">
    <!-- END FACEBOOK OPEN GRAPH -->

    <!-- START TWITTER CARDS -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="{{post.title}}">
    <meta name="twitter:description" content="{{post.text[:100]}} #SmartNinja">
    <meta name="twitter:creator" content="@smartninjaorg">
    <meta name="twitter:image" content="{{post.cover_image}}">
    <meta name="twitter:url" content="http://smartninja.org">
    <!-- END TWITTER CARDS -->
{% endblock social %}

{% block main_content %}
<section id="sub-header-small">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Blog</h1>
            <br>
			<p class="lead boxed ">Novice, inspiracija in namigi</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">

<div class="container">

	 <div class="row">
     <aside class="col-md-4">
     	<div class=" box_style_1">

				<div class="widget">
					<h4><i class="icon-back"></i><a href="/blog"> BLOG</a></h4>
				</div>
                <!-- End widget -->

                <br>

				<div class="widget">
					<h4>Recent posts</h4>

                    {% if posts %}
					<ul class="recent_post">
                        {% for post in posts %}
						<li>
						    <i class="icon-calendar-empty"></i> {{post.created.day}}.{{post.created.month}}.{{post.created.year}}
						    <div><a href="/blog/{{post.slug}}">{{post.title}}</a></div>
						</li>
                        {% endfor %}
					</ul>
                    {% else %}
                        <p>No posts</p>
                    {% endif %}
				</div><!-- End widget -->

                <!--
				<div class="widget tags add_bottom_30">
					<h4>Tags</h4>
					<a href="#">Lorem ipsum</a>
					<a href="#">Dolor</a>
					<a href="#">Long established</a>
					<a href="#">Sit amet</a>
					<a href="#">Latin words</a>
					<a href="#">Excepteur sint</a>
				</div>-->
                <!-- End widget -->

			</div><!-- End box-sidebar -->
     </aside><!-- End aside -->

<div class="col-md-8">
        <div class="post">
            <img src="{{post.cover_image}}" alt="" class="img-responsive">
            <div class="post_info clearfix">
                <div class="post-left">
                    <ul>
                        <li><i class="icon-calendar-empty"></i><span>{{post.created.day}}.{{post.created.month}}.{{post.created.year}}</span></li>
                        <li><i class="icon-user"></i>{{post.author_name}}</li>
                    </ul>
                </div>
            </div>

            <h2>{{post.title}}</h2>

            <p>{{post.text}}</p>
        </div><!-- end post -->
</div><!-- End col-md-8-->


  </div>  <!-- End row-->
</div><!-- End container -->
</section><!-- End main_content-->
{% endblock main_content %}