{% extends "public/base.html" %}

{% block title %}{{post.title}}{% endblock title %}

{% block meta %}
    <meta name="keywords" content="SmartNinja šola programiranja programming school tečaji programiranja courses classes course class tutors instructors">
    <meta name="description" content="{{summary[:100]}}... #SmartNinja">
{% endblock meta %}

{% block social %}
    <!-- START FACEBOOK OPEN GRAPH -->
    <meta name="og:url" content="http://smartninja.org">
    <meta name="og:title" content="{{post.title}}">
    <meta name="og:description" content="{{summary}}">
    <meta name="og:type" content="website">
    <meta name="og:image" content="{{post.cover_image}}">
    <!-- END FACEBOOK OPEN GRAPH -->

    <!-- FB comments -->
    <meta property="fb:admins" content="1042442164"/>
    <meta property="fb:admins" content="769348865"/>
    <meta property="fb:admins" content="100003279884094"/>

    <!-- START TWITTER CARDS -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="{{post.title}}">
    <meta name="twitter:description" content="{{summary[:100]}} #SmartNinja">
    <meta name="twitter:creator" content="@smartninjaorg">
    <meta name="twitter:image" content="{{post.cover_image}}">
    <meta name="twitter:url" content="http://smartninja.org">
    
    <!-- END TWITTER CARDS -->
{% endblock social %}

{% block fbsdk %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1615537165343215',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock fbsdk %}

{% block main_content %}
<section id="sub-header-small">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Blog</h1>
            <br>
			<p class="lead boxed ">Novice, inspiracija in namigi</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <div class="post">
                <img src="{{post.cover_image}}" alt="" class="img-responsive">
                <div class="post_info clearfix">
                    <div class="post-left">
                        <ul>
                            <li><i class="icon-calendar-empty"></i><span>{{post.created.day}}.{{post.created.month}}.{{post.created.year}}</span></li>
                            <li><i class="icon-user"></i>{{post.author_name}}</li>
                        </ul>
                    </div>
                </div>

                <h2>{{post.title}}</h2>

                <p>{{post.text}}</p>

                <!-- FB like and share -->
                <div
                  class="fb-like"
                  data-share="true"
                  data-width="450"
                  data-show-faces="true">
                </div>

                <hr>

                <h2>Komentarji</h2>

                <!-- FB comments -->
                <div class="fb-comments" data-href="http://smartninja.org/{{post.slug}}" data-numposts="10"
                     data-colorscheme="light" data-mobile="True" data-width="100%"></div>
            </div><!-- end post -->
        </div><!-- End col-md-8-->

        <aside class="col-md-4">
            <div class="box_style_1">

                    <div class="widget">
                        <h4><i class="icon-back"></i><a href="/blog"> BLOG</a></h4>
                    </div>
                    <!-- End widget -->

                    <br>

                    <div class="widget">
                        <h4>Zadnje objave</h4>

                        {% if posts %}
                        <ul class="recent_post">
                            {% for post in posts %}
                            <li>
                                <i class="icon-calendar-empty"></i> {{post.created.day}}.{{post.created.month}}.{{post.created.year}}
                                <div><a href="/blog/{{post.slug}}">{{post.title}}</a></div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            <p>No posts</p>
                        {% endif %}
                    </div><!-- End widget -->

                    <br>

                    <div class="widget">
                        <h4>Všečkaj nas na FB</h4>
                        <div
                            class="fb-like-box"
                            data-href="https://www.facebook.com/pages/SmartNinja/1563841910494321"
                            data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false"
                            data-show-border="true"></div>
                    </div>
                </div><!-- End box-sidebar -->
         </aside><!-- End aside -->

    </div>  <!-- End row-->
</div><!-- End container -->
</section><!-- End main_content-->
{% endblock main_content %}