{% extends "public/base.html" %}

{% block title %}Hvala za prijavo{% endblock title %}

{% block main_content %}
<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Hvala za prijavo</h2>
                <br>
                <p>Hvala za prijavo na prosto delovno mesto. V kratkem te bomo kontaktirali.</p>
                <br>
                <a href="/"><img src="/assets/img/public/smartninja_logo.png"></a>
            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->
{% endblock main_content %}