{% extends "public/base.html" %}

{% block title %}Careers{% endblock title %}

{% block social %}
    <!-- START FACEBOOK OPEN GRAPH -->
    <meta name="og:url" content="http://smartninja.org">
    <meta name="og:title" content="Iščemo nove inštruktorje!">
    <meta name="og:description" content="Iščemo nove SmartNinja inštruktorje. Če te veseli poučevanje in deljenje svojega znanja naprej, nas kontaktiraj!">
    <meta name="og:type" content="website">
    <meta name="og:image" content="http://i.imgur.com/Tqudjm4.jpg">
    <!-- END FACEBOOK OPEN GRAPH -->

    <!-- START TWITTER CARDS -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Iščemo nove inštruktorje!">
    <meta name="twitter:description" content="Iščemo nove SmartNinja inštruktorje. Če te veseli poučevanje in deljenje svojega znanja naprej, nas kontaktiraj! #SmartNinja">
    <meta name="twitter:creator" content="@smartninjaorg">
    <meta name="twitter:image" content="http://i.imgur.com/Tqudjm4.jpg">
    <meta name="twitter:url" content="http://smartninja.org">
    <!-- END TWITTER CARDS -->
{% endblock social %}

{% block main_content %}
<section id="sub-header-small">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Nove moči</h1>
                <br>
               	<p class="lead boxed">Te zanima delo v SmartNinja kolektivu?</p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->


<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <!--

                <h2>Trenutno ni razpisanih odprtih delovnih mest.</h2>

                <br>
                <br>
                <br>

                -->

                <h2 class="text-center">Iščemo nove SmartNinja inštruktorje programiranja</h2>

                <br>

                Trenutno iščemo inštruktorje z znanji:
                <ul>
                    <li>jQuery/JavaScript</li>
                    <li>GIT in GitHub</li>
                    <li>Načrtovanje podatkovnih baz ter SQL</li>
                    <li>Python</li>
                    <li>Smisel za poučevanje ter reševanje problemov</li>
                </ul>

                <p>Izpolni spodnji obrazec in dogovorili se bomo za sestanek.</p>

                <iframe src="https://docs.google.com/forms/d/1f1EM9FgUu96C2sw5sjdfgsXm8urQqNpfUivE4yCFVS8/viewform?embedded=true"
                        width="760" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div><!-- End col-md-12-->
        </div><!-- End row-->
    </div><!-- End container -->
</section><!-- End main_content -->

{% endblock main_content %}