{% extends "public/base.html" %}

{% block title %}Careers{% endblock title %}

{% block social %}
    <!-- START FACEBOOK OPEN GRAPH -->
    <meta name="og:url" content="http://smartninja.org">
    <meta name="og:title" content="Iščemo nove inštruktorje!">
    <meta name="og:description" content="Iščemo nove SmartNinja inštruktorje. Če te veseli poučevanje in deljenje svojega znanja naprej, nas kontaktiraj!">
    <meta name="og:type" content="website">
    <meta name="og:image" content="http://i.imgur.com/Tqudjm4.jpg">
    <!-- END FACEBOOK OPEN GRAPH -->

    <!-- START TWITTER CARDS -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Iščemo nove inštruktorje!">
    <meta name="twitter:description" content="Iščemo nove SmartNinja inštruktorje. Če te veseli poučevanje in deljenje svojega znanja naprej, nas kontaktiraj! #SmartNinja">
    <meta name="twitter:creator" content="@smartninjaorg">
    <meta name="twitter:image" content="http://i.imgur.com/Tqudjm4.jpg">
    <meta name="twitter:url" content="http://smartninja.org">
    <!-- END TWITTER CARDS -->
{% endblock social %}

{% block main_content %}
<section id="sub-header-small">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Nove moči</h1>
                <br>
               	<p class="lead boxed">Te zanima delo v SmartNinja klanu?</p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->


<section id="strips-course" class="style_2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-1">

                {% if jobs %}
                    {% for job in jobs %}
                    <!-- Job  -->
                    <article class="row">
                        <div class="col-md-9 col-sm-9">
                            <h3><em>{{job.city}}</em> {{job.title}}</h3>

                            <p>{{job.description|nl2br}}</p>

                            <a href="/careers/job/{{job.get_id}}" class="button_medium">Prijavi se!</a>
                        </div>

                    </article><!-- End Job  -->
                    {% endfor %}
                {% else %}
                    <h2>Trenutno ni razpisanih odprtih delovnih mest.</h2>
                    <br>
                    <br>
                    <br>
                {% endif %}

            </div><!-- End col -->
        </div><!-- End row-->
    </div><!-- End container -->
</section><!-- End main_content -->

{% endblock main_content %}