{% extends "public/base.html" %}

{% block title %}Careers{% endblock title %}

{% block main_content %}
<section id="sub-header-small">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Nove moči</h1>
                <br>
               	<p class="lead boxed">Iščemo nove SmartNinja inštruktorje</p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->


<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Iščemo nove SmartNinja inštruktorje programiranja</h2>

                <br>

                Zaželjeno je:
                <ul>
                    <li>Dobro poznavanje vsaj enega programskega jezika in frameworka (ni potrebno biti "guru")</li>
                    <li>Smisel za poučevanje ter reševanje problemov</li>
                </ul>

                <p>Izpolni spodnji obrazec in dogovorili se bomo za sestanek.</p>

                <iframe src="https://docs.google.com/forms/d/11ZL1gKMG2ikQgTWqCUMLS-aLvgkFj0gOqTm2KHx0qlI/viewform?embedded=true"
                        width="760" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div><!-- End col-md-12-->
        </div><!-- End row-->
    </div><!-- End container -->
</section><!-- End main_content -->

{% endblock main_content %}