{% extends "public/base.html" %}

{% block title %}Blog{% endblock title %}

{% block main_content %}
<section id="sub-header-small">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Coming soon</h1>
            <br>
			<p class="lead boxed ">Ta del spletne strani pride kmalu :)</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>Ta del spletne strani pride kmalu - naš programerski hrček že pridno dela na njem.</h3>
                <br>
                <img class="img-responsive center-block" src="http://i224.photobucket.com/albums/dd233/NakeBenihime/Hamsterusesmini-computer.jpg">
            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->
{% endblock main_content %}