{% extends "public/base.html" %}

{% block title %}Hvala za tvoje sporočilo{% endblock title %}

{% block main_content %}
<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Hvala za tvoje sporočilo</h2>
                <br>
                <p>Potrudili se bomo odgovoriti v najkrajšem možnem času. Vmes pa še malo pobrskaj po naši spletni
                    strani, ali pa nas priporoči prijateljem na socialnih omrežjih :)
                </p>
                <br>
                <a href="/"><img src="/assets/img/public/smartninja_logo.png"></a>
            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->
{% endblock main_content %}