{% extends "public/base.html" %}

{% block title %}Seznam tečajev{% endblock title %}

{% block scripts %}
    <script src="/assets/js/public/company_data.js"></script>
{% endblock scripts %}

{% block social %}
    <!-- START FACEBOOK OPEN GRAPH -->
    <meta name="og:url" content="http://smartninja.org">
    <meta name="og:title" content="{{course.title}}">
    <meta name="og:description" content="{{course.summary}}">
    <meta name="og:type" content="website">
    <meta name="og:image" content="{{course.image_url}}">
    <!-- END FACEBOOK OPEN GRAPH -->

    <!-- START TWITTER CARDS -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="{{course.title}}">
    <meta name="twitter:description" content="{{course.summary}} #SmartNinja">
    <meta name="twitter:creator" content="@smartninjaorg">
    <meta name="twitter:image" content="{{course.image_url}}">
    <meta name="twitter:url" content="http://smartninja.org">
    <!-- END TWITTER CARDS -->
{% endblock social %}

{% block main_content %}
<section id="sub-header-mid">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>{{course.title}}</h1>
                <br>
               	<p class="lead boxed">
                    {{course.city}},
                    {{course.start_date.day}}.{{course.start_date.month}}.{{course.start_date.year}} -
                    {{course.end_date.day}}.{{course.end_date.month}}.{{course.end_date.year}}
                </p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->


<section id="main_content">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h2>{{course.title}}</h2>
                <p>{{course.description}}</p>

                <hr>

                <h3 id="pricesTable">Kotizacija</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Cena tečaja</th>
                                        <th>Opis kotizacije</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for price in course.prices %}
                                    <tr>
                                        <td>{{price.price_comma}} {{course.currency}}</td>
                                        <td>{{price.summary}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <hr>

                <h3 id="courseApplication">Prijava na tečaj</h3>
                <form action="/course/{{course.get_id}}/apply" method="post">
                    <input type="hidden" name="hidden">
                    <input type="hidden" name="csrf" value="{{csrf}}">

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="data-list">
                                <li>
                                    <div class="form-group">
                                        <input type="text" name="first_name" class="required form-control" placeholder="Ime"><span class="input-icon"><i class="icon-user"></i></span>
                                    </div>
                                </li>

                                <li>
                                    <div class="form-group">
                                        <input type="text" name="last_name" class="required form-control" placeholder="Priimek"><span class="input-icon"><i class="icon-user"></i></span>
                                    </div>
                                </li>

                                <li>
                                    <div class="form-group">
                                        <input type="text" name="email" class="required form-control" placeholder="Email naslov"><span class="input-icon"><i class="icon-email"></i></span>
                                    </div>
                                </li>

                                <li>
                                    <div class="form-group">
                                        <input type="text" name="address" class="required form-control" placeholder="Naslov prebivališča"><span class="input-icon"><i class="icon-home"></i></span>
                                    </div>
                                </li>

                                <li>
                                    <div class="form-group">
                                        <input type="text" name="dob" class="required form-control" placeholder="Datum rojstva"><span class="input-icon"><i class="icon-star"></i></span>
                                    </div>
                                </li>

                            </ul>
                        </div><!-- end col-md-6 -->

                        <div class="col-md-6">
                            <ul class="data-list">

                                <li>
                                    <div class="form-group">
                                        <input type="text" name="phone" class="required form-control" placeholder="Telefonska številka"><span class="input-icon"><i class="icon-phone"></i></span>
                                    </div>
                                </li>

                                <li>
                                    <div class="styled-select">
                                        <select class="form-control required" name="laptop">
                                            <option value="" selected>Imaš prenosni računalnik?</option>
                                            <option value="yes">DA</option>
                                            <option value="no">NE</option>
                                        </select>
                                    </div>
                                </li>

                                <li>
                                    <div class="styled-select">
                                        <select class="form-control required" name="shirt">
                                            <option value="" selected>Izberi velikost majice</option>
                                            <option value="XS">XS</option>
                                            <option value="S">S</option>
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                            <option value="XL">XL</option>
                                            <option value="XXL">XXL</option>
                                            <option value="XXXL">XXXL</option>
                                        </select>
                                    </div>
                                </li>

                                <li>
                                    <div class="styled-select">
                                        <select class="form-control required" name="price">
                                            <option value="" selected>Kotizacija</option>
                                            {% for price in course.prices %}
                                                <option value="{{price.price_dot}}">{{price.price_comma}} {{course.currency}} - {{price.summary}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </li>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="company-invoice" name="company_invoice"> Želim račun na podjetje
                                    </label>
                                </div>

                            </ul>
                        </div><!-- end col-md-6 -->
                    </div><!-- end row -->

                    <div class="row" id="company-data">
                        <div class="col-md-6">
                            <ul class="data-list">
                                <li>
                                    <div class="form-group">
                                        <input type="text" id="company-title" name="company_title" class="required form-control" placeholder="Ime podjetja"><span class="input-icon"><i class="icon-suitcase"></i></span>
                                    </div>
                                </li>

                                <li>
                                    <div class="form-group">
                                        <input type="text" id="company-address" name="company_address" class="required form-control" placeholder="Naslov podjetja"><span class="input-icon"><i class="icon-commerical-building"></i></span>
                                    </div>
                                </li>

                            </ul>
                        </div><!-- end col-md-6 -->

                        <div class="col-md-6">
                            <ul class="data-list">

                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="data-list">
                                            <li>
                                                <div class="form-group">
                                                    <input type="text" id="company-zip" name="company_zip" class="required form-control" placeholder="Poštna številka">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <ul class="data-list">
                                            <li>
                                                <div class="form-group">
                                                    <input type="text" id="company-town" name="company_town" class="required form-control" placeholder="Kraj">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <li>
                                    <div class="form-group">
                                        <input type="text" id="company-tax" name="company_tax" class="required form-control" placeholder="Davčna številka">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="data-list">
                                <li>
                                    <div class="form-group">
                                        <textarea rows="3" name="other_info" class="form-control" placeholder="Nam želiš še kaj sporočiti?" style="height:100px;"></textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-md-9 col-md-offset-2">
                            <strong>S prijavo sprejemaš <a href="#" data-toggle="modal" data-target="#myModal">pravila in pogoje šole programiranja SmartNinja</a>.</strong>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="submit step" id="complete">
                            <!--<p>Prijave zaprte</p>-->
                            <button type="submit" name="process" class="submit" id="prijava-gumb">Oddaj prijavo</button>
                            <br>
                            <p style="color: red;">{{ error }}</p>
                        </div><!-- end submit step -->
                    </div>


                </form>
            </div><!-- End col-md-8  -->

            <aside class="col-md-4">
                <div class="box_style_1">
                    <h4><a href="/courses">Nazaj na seznam tečajev <i class="icon-back pull-right"></i></a></h4><br>

                    <h4>Inštruktor</h4>

                    <div class="media">
                        <div class="pull-right">
                            <img src="{{instructor.photo_url}}" height="50px" class="img-circle" alt="">
                        </div>

                        <div class="media-body">
                            <h5 class="media-heading"><a>{{course.instructor_name}}</a></h5>
                            <p>{{instructor.summary}}</p>
                        </div>
                    </div>

                    {% if courses %}
                        <h4>Ostali tečaji</h4>
                        <ul class="list_1">
                            {% for course in courses %}
                                <li><a href="/course/{{course.get_id}}">{{course.title}}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif%}
                </div>
            </aside> <!-- End col-md-4 -->
        </div><!-- End row -->

    </div><!-- End container -->
</section><!-- End main_content -->

{% endblock main_content %}