{% extends "public/base.html" %}

{% block title %}Seznam tečajev{% endblock title %}

{% block scripts %}
    <script src="/assets/js/public/tags.js"></script>
{% endblock scripts %}

{% block main_content %}
<section id="sub-header-small">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Seznam tečajev</h1>
                <br>
               	<p class="lead boxed">Izberi veščino, ki se jo želiš naučiti</p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->


<section id="main_content">
    <div class="container">

        <!-- Current courses -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="#" id="allcourses">Vsi</a></li>
                    {% for tag in tags %}
                    <li><a href="#" class="sometag">{{tag}}</a></li>
                    {% endfor %}
                </ol>

                <h2>Novi tečaji</h2>
                <br>
                <div class="row">
                    {% for course in courses %}
                    <!-- COURSE -->
                    <div class="col-lg-4 col-md-6 somecourse">
                        <input type="hidden" value="{{course.tags_string}}">
                        <div class="col-item">
                            <span class=""></span>

                            <div class="photo">
                                {% if course.applications_closed %}
                                    <a href="/course/{{course.get_id}}"><img src="http://i.imgur.com/3QMGlvu.jpg" /></a>
                                {% else %}
                                    <a href="/course/{{course.get_id}}"><img src="{{course.image_url}}" /></a>
                                {% endif %}

                                <div class="cat_row">

                                    <!--<a class="category">{{course.category}}</a>-->
                                    <a class="category">{{course.city}}</a>
                                    <!--<span class="label label-primary">
                                        {% if course.level == 1 %}
                                            Beginner
                                        {% elif course.level == 2 %}
                                            Intermediate
                                        {% elif course.level == 3 %}
                                            Advanced
                                        {% endif %}
                                    </span>-->

                                    <span class="pull-right">
                                        <i class=" icon-calendar"></i>{{course.start_date.day}}.{{course.start_date.month}}.{{course.start_date.year}}
                                    </span>
                                </div>
                            </div>

                            <div class="info">
                                <div class="row">
                                    <div class="course_info col-md-12 col-sm-12">
                                        <h4><a href="/course/{{course.get_id}}">{{course.title}}</a></h4>
                                        <p> {{course.summary}} </p>
                                        <div class="price pull-right">Že za {{course.price_min}} {{course.currency}}</div>
                                    </div>
                                </div>
                                <br>
                                <div class="separator clearfix">
                                    <p class="btn-add"> <a href="/course/{{course.get_id}}#pricesTable"><i class="icon-export-4"></i> Prijavi se</a></p>
                                    <p class="btn-details"> <a href="/course/{{course.get_id}}"><i class=" icon-list"></i> Več ...</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div><!-- End row -->
            </div><!-- End col-lg-12-->

        </div><!-- End row -->

        <hr>

        <!-- Past courses -->
        {% if old_courses %}
        <h2>Pretekli tečaji</h2>
        <br>
        <div class="row">
            {% for course in old_courses %}
            <!-- COURSE -->
            <div class="col-lg-4 col-md-6 somecourse">
                <input type="hidden" value="{{course.tags_string}}">
                <div class="col-item">
                    <span class=""></span>

                    <div class="photo">
                        <a href="/course/{{course.get_id}}"><img src="{{course.image_url}}" /></a>
                        <div class="cat_row">

                            <!--<a class="category">{{course.category}}</a>-->
                            <a class="category">{{course.city}}</a>
                            <!--<span class="label label-primary">
                                {% if course.level == 1 %}
                                    Beginner
                                {% elif course.level == 2 %}
                                    Intermediate
                                {% elif course.level == 3 %}
                                    Advanced
                                {% endif %}
                            </span>-->

                            <span class="pull-right">
                                <i class=" icon-calendar"></i>{{course.start_date.day}}.{{course.start_date.month}}.{{course.start_date.year}}
                            </span>
                        </div>
                    </div>

                    <div class="info">
                        <div class="row">
                            <div class="course_info col-md-12 col-sm-12">
                                <h4><a href="/course/{{course.get_id}}">{{course.title}}</a></h4>
                                <p> {{course.summary}} </p>
                                <div class="price pull-right">Že za {{course.price_min}} {{course.currency}}</div>
                            </div>
                        </div>
                        <br>
                        <div class="separator clearfix">
                            <p class="btn-add"> <a href="/course/{{course.get_id}}#pricesTable"><i class="icon-export-4"></i> Prijave zaprte</a></p>
                            <p class="btn-details"> <a href="/course/{{course.get_id}}"><i class=" icon-list"></i> Več ...</a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div><!-- End row -->
        <hr>
        {% endif %}

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <p>Ni veščine, ki jo iščeš? Ne skrbi, nove tečaje dodajamo sproti. Za več informacij se prijavi na mailing
                    listo (spodaj) ali pa nam piši <a href="/about#contact-form">prek kontaktnega obrazca</a>.</p>
            </div>
        </div>

    </div><!-- End container -->
</section><!-- End main_content -->

{% endblock main_content %}