{% extends "public/base.html" %}

{% block title %}Opisi tečajev{% endblock title %}

{% block main_content %}
<section id="sub-header-small">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Opisi tečajev</h1>
                <br>
                <p class="lead boxed ">Opisi standardnih SmartNinja tečajev</p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="strips-course" class="style_2">

    <div class="container">

        <!-- Vikend programiranja  -->
        <article class="row">
            <div class="col-md-3 col-sm-3 hidden-xs text-center">
                <img src="http://i.imgur.com/2rN8Wnb.png" alt="HTML" >
            </div>

            <div class="col-md-9 col-sm-9">
                <h3><em>Začetni nivo</em> Vikend programiranja</h3>

                <p>
                Dvodnevni tečaj, na katerem spoznaš delo programerjev, se naučiš osnove HTML in CSS ter ugotoviš, ali ti
                je programiranje všeč ali ne. Tekom tečaja narediš tri spletne strani, ki jih lahko nato ponosno pokažeš
                svojim prijateljem. Naučiš se uporabljati orodja za razvijalce ter najti na spletu že narejene strani, ki
                jih nato z novo pridobljenih HTML in CSS znanjem prilagodiš svojim potrebam.
                </p>


                <ul class="data-lessons">
                    <!-- Naslednji termini
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Naslednji termini</a>

                        <div class="po-content hidden">
                            <div class="po-title"><strong>Naslednji termini</strong></div>

                            <div class="po-body">
                                <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                            </div>
                        </div>
                    </li>-->
                    <li class="po-markup"><i class="icon-certificate"></i>HTML, CSS</li>
                    <li class="po-markup"><i class="icon-clock"></i>Trajanje: 2 dni</li>
                </ul>

                <a href="/courses" class="button_medium">Poglej seznam tečajev</a>
            </div>

        </article><!-- End Vikend programiranja  -->

        <!-- Python Web development  -->
        <article class="row">
            <div class="col-md-3 col-sm-3 hidden-xs text-center">
                <img src="http://i.imgur.com/jNk9QCG.png" alt="Python" >
            </div>

            <div class="col-md-9 col-sm-9">
                <h3><em>Začetni nivo</em> Web development</h3>

                <p>
                Na tem tečaju se spoznaš z vsemi tehnologijami, potrebnimi da narediš čisto svojo spletno aplikacijo.
                V treh mesecih tečaja se spoznaš tako s front-end razvojem (HTML, CSS, Bootstrap) kot tudi z osnovami
                programiranja v Pythonu ter njegovo uporabo kot back-enda spletnih strani. Tekom tečaja narediš več kot
                20 manjših projektov, ki ti v bodoče služijo kot referenca in ob tem uporabljaš orodja, kot se
                uporabljajo v IT podjetjih (npr. GIT). Tečaj je primeren tudi za popolne začetnike.
                </p>


                <ul class="data-lessons">
                    <!-- Naslednji termini
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Naslednji termini</a>

                        <div class="po-content hidden">
                            <div class="po-title"><strong>Naslednji termini</strong></div>

                            <div class="po-body">
                                <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                            </div>
                        </div>
                    </li>-->
                    <li class="po-markup"><i class="icon-certificate"></i>HTML, CSS, Bootstrap, Python, GIT, Google App Engine</li>
                    <li class="po-markup"><i class="icon-clock"></i>Trajanje: 3 mesece</li>
                </ul>

                <a href="/courses" class="button_medium">Poglej seznam tečajev</a>
            </div>

        </article><!-- End Python Web development  -->

        <!-- SQL  -->
        <article class="row">
            <div class="col-md-3 col-sm-3 hidden-xs text-center">
                <img src="http://assets.toptal.io/uploads/blog/category/logo/60/sql.png" alt="SQL" >
            </div>

            <div class="col-md-9 col-sm-9">
                <h3><em>Začetni nivo</em> Uvod v SQL in podatkovne baze</h3>

                <p>
                Vsaka spletna ali mobilna aplikacija - v bistvu vsak program, ki operira s podatki in jih shranjuje,
                potrebuje podatkovno bazo. Znanje načrtovanja podatkovnih baz je ena najpomembnejših veščin pri
                razvoju IT produktov. Na dvotedenskem tečaju, se tako naučiš ravno to - kako narediti dober načrt
                podatkovne baze, ter SQL stavke, ki ti pomagajo podatkovno bazo zgraditi.
                </p>


                <ul class="data-lessons">
                    <!-- Naslednji termini
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Naslednji termini</a>

                        <div class="po-content hidden">
                            <div class="po-title"><strong>Naslednji termini</strong></div>

                            <div class="po-body">
                                <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                            </div>
                        </div>
                    </li>-->
                    <li class="po-markup"><i class="icon-certificate"></i>SQL, načrtovanje podatkovnih baz</li>
                    <li class="po-markup"><i class="icon-clock"></i>Trajanje: 2 tedna</li>
                </ul>

                <a href="/courses" class="button_medium">Poglej seznam tečajev</a>
            </div>

        </article><!-- End SQL  -->

        <!-- AngularJS  -->
        <article class="row">
            <div class="col-md-3 col-sm-3 hidden-xs text-center">
                <img src="http://i.imgur.com/Dj3Xgbu.png" alt="AngularJS" >
            </div>

            <div class="col-md-9 col-sm-9">
                <h3><em>Nadaljevalni nivo</em> AngularJS</h3>

                <p>
                AngularJS je eden najbolj priljubljenih JavaScript frameworkov ter prva izbira za mnoga IT podjetja.
                Znanje AngularJS ti pomaga hitro izdelati učinkovit in interaktiven front-end ter poveča tvojo
                konkurenčnost na IT trgu dela. Tečaj je namenjen vsem, ki že imajo predznanje programiranja in želijo
                svoj nabor znanj nadgraditi s tem priljubljenim JS ogrodjem.
                </p>


                <ul class="data-lessons">
                    <!-- Naslednji termini
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Naslednji termini</a>

                        <div class="po-content hidden">
                            <div class="po-title"><strong>Naslednji termini</strong></div>

                            <div class="po-body">
                                <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                            </div>
                        </div>
                    </li>-->
                    <li class="po-markup"><i class="icon-certificate"></i>JavaScript, AngularJS, Gulp</li>
                    <li class="po-markup"><i class="icon-clock"></i>Trajanje: 7 tednov</li>
                </ul>

                <a href="/courses" class="button_medium">Poglej seznam tečajev</a>
            </div>

        </article><!-- End AngularJS  -->

        <!-- Startup marketing  -->
        <article class="row">
            <div class="col-md-3 col-sm-3 hidden-xs text-center">
                <img src="http://i.imgur.com/K7MEPGX.png" alt="Startup marketing" >
            </div>

            <div class="col-md-9 col-sm-9">
                <h3><em>Neprogramerski tečaj</em> Startup marketing</h3>

                <p>
                Osnovni namen »Startup Marketinga« oz. Growth Hackinga« je čim hitrejše doseganje uporabnikov preko
                nekonvencionalnih kanalov. Za razliko od klasičnega marketinga, ki običajno preusmerja uporabnikovo
                pozornost (npr. z oglasi), »Startup Marketing« oz. Growth Hacking deluje bolj naravno in neposredno
                ne moti uporabnikovega fokusa. Ključna dejavnika sta čas in denar. Časa je ponavadi malo, zato si mora
                podjetje hitro zagotoviti ustrezno kritično maso uporabnikov. Prav tako so v začetnih fazah finančna
                sredstva omejena, zaradi česar so običajni marketinški kanali preprosto predragi. Torej, kakšen bo
                tvoj »Startup Marketing«?
                </p>


                <ul class="data-lessons">
                    <!-- Naslednji termini
                    <li class="po-markup">
                        <a class="po-link" href="javascript:void(0)" ><i class="icon-calendar"></i> Naslednji termini</a>

                        <div class="po-content hidden">
                            <div class="po-title"><strong>Naslednji termini</strong></div>

                            <div class="po-body">
                                <ul class="list_po_body"><li><i class="icon-ok"></i> 25 April 2014</li><li><i class="icon-ok"></i> 27 May 2014</li><li><i class="icon-ok"></i>28 August 2014</li></ul>
                            </div>
                        </div>
                    </li>-->
                    <li class="po-markup"><i class="icon-certificate"></i>Marketing, Growth hacking</li>
                    <li class="po-markup"><i class="icon-clock"></i>Trajanje: 2 dni</li>
                </ul>

                <a href="/courses" class="button_medium">Poglej seznam tečajev</a>
            </div>

        </article><!-- End AngularJS  -->

    </div><!-- End container  -->
  </section><!-- End strips-course  -->
{% endblock main_content %}