{% extends "public/base.html" %}

{% block title %}FAQ{% endblock title %}

{% block main_content %}
<section id="sub-header-small">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>FAQ</h1>
                <br>
               	<p class="lead boxed">Pogosto zastavljena vprašanja</p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->


<section id="main_content">
    <div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Kaj je SmartNinja?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            SmartNinja smo skupina mladih posameznikov, ki poučuje koristne in praktične IT veščine. <br>Naša misija je, da ljudem pomagamo odrkiti in razviti talente ter veščine, ki ti bodo pomagale lažje najti službo ali pa jo celo ustvariti! Organiziramo tečaje in šole spletnega in mobilnega programiranja, grafičnega oblikovanja ter interneta stvari (IoT).
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Katere veščine poučuje SmartNinja?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Naši programi temeljijo večinoma na veščinah spletnega in mobilnega programiranja, grafičnega oblikovanja ter interneta stvari (IoT) oz. vsa znanja, ki so uporabna in iskana v praksi.
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Kako uporabne so veščine, ki jih pridobim na SmartNinja tečajih?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Pri SmartNinji imamo velik fokus, da izpeljemo vse delavnice kar se da kvalitetno ter da je vsebina, ki jo poučujemo, koristna ter uporabna. <br>Smo v stiku z mnogimi IT podjetji, ki nam pomagajo oblikovati vsebino glede na njihove potrebe. Tako vam lahko to znanje pomaga lažje dobiti službo ali pa celo mogoče ustvariti posel sebi ter drugim.
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Ali potrebujem kaj predznanja za 12 tedenske tečaje?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">Ne, program pri 12 tedenskih tečajih programiranja zajema osnovne ter napredne veščine programiranja in je zaradi tega primeren za primeren tako za popolne začetnike kot tudi za tiste s predznanjem.
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Imam že nekaj izkušenj, ali je SmartNinja vikend primeren zame?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            SmartNinja vikendi so primerni za vse, ki hočejo narediti svoje prve korake v programiranje spletnih strani in tudi za tiste, ki hočejo svoje znanje utrditi.<br>Velik del šole poteka individualno, zato se lahko mentorji prilagodijo vašemu znanju, da ga ustrezno nadgradite.
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Termin mi ne ustreza, ali se bodo tečaji kdaj ponovili?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            Da, SmartNinja vikendi se bodo še izvajali v krajih kjer bo povpraševanje oz. zanimanje.<br> Pošljite nam povpraševanje na info@smartninja.org ali pa se prijavite na naš newsletter, da ostanete na tekočem o dogajanju.
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Ali mi lahko Zavod za zaposlovanje subvencionira tečaj?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                           Žal so subvencije oz. povrnitev stroškov možne le koncesijskim partnerjem Zavoda za zaposlovanje, kar pa mi žal nismo. <br>Cena je že v osnovi znižana za dijake, študente in nezaposlene.
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End col-md-12-->
    </div><!-- End row-->
    <hr>
    <div class="faq-bottom-text">
        <h2>Želite izvedeti več?</h2>
        <h3>Kontaktirajte nas na info@smartninja.org ali pa se prijavte na naše e-novice!</h3>
    </div>
    </div><!-- End container -->
</section><!-- End main_content -->

{% endblock main_content %}