{% extends "public/base.html" %}

{% block title %}FAQ{% endblock title %}

{% block main_content %}
<section id="sub-header-small">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>FAQ</h1>
                <br>
               	<p class="lead boxed">Pogosto zastavljena vprašanja</p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    <div class="divider_top"></div>
</section><!-- End sub-header -->


<section id="main_content">
    <div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Kaj je SmartNinja?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            SmartNinja poučuje koristne in praktične IT veščine. Naša misija je, da ljudem pomagamo
                            odkriti in razviti talente ter veščine, ki jim bodo pomagale najti službo ali pa jo celo
                            ustvariti! Organiziramo tečaje spletnega in mobilnega programiranja, grafičnega
                            oblikovanja, digitalnega marketinga ter interneta stvari (IoT).
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Katere veščine poučuje SmartNinja?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Naši programi temeljijo večinoma na veščinah spletnega in mobilnega programiranja, grafičnega
                            oblikovanja ter interneta stvari (IoT) oz. vsa znanja, ki so uporabna in iskana v praksi.
                            Sproti dodajamo nove tečaje in veščine, zato se prijavi na naš newsletter, da ostaneš na
                            tekočem! :)
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Kako uporabne so veščine, ki jih pridobim na SmartNinja tečajih?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Naš fokus je na koristnih in uporabnih IT veščinah ter na kvalitetni izvedbi tečajev. Smo v
                            stalnem stiku z mnogimi IT podjetji, ki nam
                            pomagajo oblikovati vsebino glede na njihove potrebe in potrebe trga. Tako vam lahko to
                            znanje pomaga lažje dobiti službo ali pa celo ustvariti svoj posel/startup.
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Ali potrebujem kaj predznanja za 12-tedenske tečaje?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">Odvisno od tečaja, vendar pa za osnovni 12-tedenski tečaj
                            programiranja (Web development) predznanje ni potrebno. V programu se gre tako skozi osnove
                            front-end razvoja s HTML, CSS in JavaScript, kot tudi skozi osnove back-end programiranja.
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Imam že nekaj izkušenj, ali je SmartNinja Vikend primeren zame?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            SmartNinja vikendi so primerni za vse, ki hočejo narediti svoje prve korake v programiranje
                            spletnih strani in tudi za tiste, ki hočejo svoje znanje utrditi (ponoviti). Udeležencem, ki
                            hitreje napredujejo, lahko mentorji podajo dodatne naloge in jih naučijo dodatnih znanj.
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Termin mi ne ustreza, ali se bodo tečaji kdaj ponovili?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            Da, SmartNinja vikendi se bodo še izvajali v krajih kjer bo povpraševanje oz. zanimanje.
                            Pošljite nam povpraševanje na info@smartninja.org ali pa se prijavite na naš newsletter, da
                            ostanete na tekočem o dogajanju.
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Ali mi lahko Zavod za zaposlovanje subvencionira tečaj?<i class="indicator icon-plus pull-right"></i></a>
                        </h4>
                    </div>
                    
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                           Subvencije (oz. povrnitev stroškov) so možne le koncesijskim partnerjem Zavoda za
                            zaposlovanje, kar mi žal nismo. Kljub temu pa so naše cene tečajev že v osnovi znižane
                            za dijake, študente in nezaposlene.
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        <div class="faq-bottom-text">
       
        <!--<h2><a class="button_outline" href="/about#contact-form">Želite izvedeti več?</a></h2>-->
        <h3>Želiš izvedeti več?</h3>
        <h4>Kontaktiraj nas na info@smartninja.org ali pa se prijavi na naše e-novice!</h4>
        <br>
        </div><!-- End col-md-12-->
    </div>
    </div><!-- End row-->
    
    
    
    </div><!-- End container -->
</section><!-- End main_content -->

{% endblock main_content %}