{% extends "public/base2.html" %}

{% block title %}Šola programiranja{% endblock title %}

{% block main_content %}
<!-- End sub-header -->
<section id="sub-header" >
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>home video</h1>
                <h2>Qui atqui voluptua maluisset in, has causae consulatu ex.</h2>

                <ul class="list_ok">
                    <li><strong>Certified</strong> and expert teachers</li>
                    <li><strong>Extensive</strong> doumentation provided</li>
                    <li><strong>Money back</strong> garantee</li>
                    <li><strong>Became an exeprt</strong> in only 6 days</li>
                </ul>
            </div>

            <div class="col-md-6 video">
                <iframe src="http://player.vimeo.com/video/81607056?badge=0" allowfullscreen style="border:0;"></iframe>
            </div>
        </div><!-- End row -->
    </div>
</section>
<!-- End sub-header -->
{% endblock main_content %}