{% extends "public/base.html" %}

{% block title %}Nauči se veščin 21. stoletja{% endblock title %}

{% block main_content %}
<!-- End sub-header -->
<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Nauči se veščin 21. stoletja</h1>
                <br>
                <p class="lead boxed ">Programiranje, grafično oblikovanje ter še in še</p>
                <p>
                    <a href="/courses" class="button_top button_big_red prijava">Poglej si tečaje</a>
                </p>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->

    <div class="divider_top"></div>
</section>
<!-- End sub-header -->

<!-- WHY SMART NINJA -->
<section id="main-features">
    <div class="divider_top_black"></div>
    <div class="container">

        <div class="row">
            <div class=" col-md-10 col-md-offset-1 text-center">
                <h2>Zakaj izbrati tečaje SmartNinja</h2>
                <p class="lead">
                    Živimo v svetu, kjer štejejo veščine. <br>
                    Naj bo to za hobi, ali pa za službo - SmartNinja te nauči sodobnih IT veščin.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-tools"></i>
                    <h3>Uporabne veščine</h3>
                    <p>
                        Na tečajih SmartNinja se lahko naučiš programiranja, grafičnega oblikovanja, upravljanja
                        Arduino mikrokrmilnikov, digitalnega marketinga ter še in še. Nove tečaje dodajamo sproti.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class=" icon-users"></i>
                    <h3>Izkušeni mentorji</h3>
                    <p>
                        Tečaje vodijo mentorji, ki so si izkušnje nabirali v IT podjetjih ter ki jim pridobljene veščine
                        niso le delo, marveč tudi hobi. Tečaji so usmerjeni v prakso ter pripravo na delo v IT podjetjih ali startupih.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-briefcase-3"></i>
                    <h3>Sodelujemo z delodajalci</h3>
                    <p>
                        Programe tečajev usklajujemo z našimi partnerji, to so <a href="/partners">IT podjetja</a>, ki
                        pogosto iščejo nove kadre.
                        Po koncu vsakega tečaja spisek udeležencev (ki to želijo) pošljemo tem podjetjem, ki se lahko
                        odločijo nekomu ponuditi pripravništvo ali zaposlitev.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-smile"></i>
                    <h3>Veščine, ki ti dajejo varnost in svobodo</h3>
                    <p>
                        Skrbimo za to, da poučujemo moderne IT veščine, ki se jih na trgu dela vseskozi išče in s
                        katerimi je moč ustvarjati in biti kreativen. Želimo si, da bi naši udeleženci zaradi tega
                        imeli tisti neprecenljivi občutek varnosti in svobode.
                    </p>
                </div>
            </div>

            </div><!-- End row -->
        </div><!-- End container -->
</section><!-- End main-features -->

<!-- COURSES -->
<section id="main_content_gray">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Tečaji</h2>
                <p class="lead">Izberi veščino, ki se je želiš naučiti.</p>
            </div>
        </div><!-- End row -->

        <div class="row">

            {% for course in courses %}
            <!-- COURSE -->
            <div
                    {% if courses|count() == 4 %}
                        class="col-lg-3 col-md-6 col-sm-6"
                    {% elif courses|count() == 3 %}
                        class="col-lg-4 col-md-6 col-sm-6"
                    {% elif courses|count() == 2 %}
                        class="col-lg-6 col-md-6 col-sm-6"
                    {% else %}
                        class="col-lg-3 col-md-6 col-sm-6"
                    {% endif %}
                >
                <div class="col-item">
                    <span class=""></span>

                    <div class="photo">
                        <a href="/course/{{course.get_id}}"><img src="{{course.image_url}}" /></a>
                        <div class="cat_row">

                            <!--<a class="category">{{course.category}}</a>-->
                            <a class="category">{{course.city}}</a>

                            <span class="pull-right">
                                <i class=" icon-calendar"></i>{{course.start_date.day}}.{{course.start_date.month}}.{{course.start_date.year}}
                            </span>
                        </div>
                    </div>

                    <div class="info">
                        <div class="row">
                            <div class="course_info col-md-12 col-sm-12">
                                <h4><a href="/course/{{course.get_id}}">{{course.title}}</a></h4>
                                <p> {{course.summary}} </p>
                                <div class="price pull-right">Že za {{course.price_min}} {{course.currency}}</div>
                            </div>
                        </div>
                        <br>
                        <div class="separator clearfix">
                            <p class="btn-add"> <a href="/course/{{course.get_id}}#pricesTable"><i class="icon-export-4"></i> Prijavi se</a></p>
                            <p class="btn-details"> <a href="/course/{{course.get_id}}"><i class=" icon-list"></i> Več ...</a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div><!-- End row -->

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/courses" class="button_outline">Poglej vse tečaje</a>
            </div>
        </div>
    </div>   <!-- End container -->
</section>
<!-- End courses -->

<!-- NEWSLETTER
<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Prijavi se na sveže SmartNinja e-novice!</h3>

                <div id="message-newsletter">
                </div>
                <form method="post" action="/newsletter" class="form-inline">
                    <input type="hidden" name="hidden">
                    <input name="email_newsletter1" id="email_newsletter" type="email" placeholder="Tvoj email" class="form-control">
                    <button id="submit-newsletter" class=" button_outline"> Naroči se</button>
                </form>
            </div>
        </div>
    </div>
</div>
-->

<!-- TESTIMONIALS -->
<!-- Testimonials/Priporočila -->
<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class='col-md-offset-2 col-md-8 text-center'>
                <h2>Kaj pravijo drugi</h2>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-offset-2 col-md-8'>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#quote-carousel" data-slide-to="1"></li>
                        <li data-target="#quote-carousel" data-slide-to="2"></li>
                        <li data-target="#quote-carousel" data-slide-to="3"></li>
                        <li data-target="#quote-carousel" data-slide-to="4"></li>
                    </ol>
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">
                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img class="img-circle" src="/assets/img/public/uros.jpg" alt="">
                                    </div>
                                    <div class="col-sm-9">
                                        <p>
                                            Šola programiranja SmartNinja mi je pomagala izboljšati svoje znanje izdelave
                                            spletnih
                                            strani. Naučil sem se ogrodja Bootstrap, uporabe GIT-a ter osnov JavaScripta.
                                            Vse našteto zdaj že uporabljam pri delu v novi službi.
                                        </p>
                                        <small>Uroš Plavec</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>

                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img class="img-circle" src="/assets/img/public/spela.jpg" alt="Gregor Nanger">
                                    </div>
                                    <div class="col-sm-9">
                                        <p>
                                            Na tečaj programiranja s HTML in CSS sem
                                            se prijavila, ker mi razlaga in način učenja pri pouku ni bil dovolj jasen.
                                            Po končanem tečaju sem bila sposobna samostojno izdelati preproste spletne
                                            strani, v šoli pa nimam več težav.
                                        </p>
                                        <small>Špela Cimprič</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>

                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img class="img-circle" src="/assets/img/public/mitja.jpg" alt="">
                                    </div>
                                    <div class="col-sm-9">
                                        <p>
                                            V šoli SmartNinja spoznavam osnove
                                            programiranja v Pythonu in izdelovanja spletnih strani s HTML, CSS in jQuery.
                                            Pomoč mentorjev mi pomaga hitreje napredovati pri učenju, kot
                                            pa če bi se učil čisto sam.
                                        </p>
                                        <small>Mitja Kastelic</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>

                        <!-- Quote 4 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img class="img-circle" src="/assets/img/public/gregor.jpg" alt="Gregor Nanger">
                                    </div>
                                    <div class="col-sm-9">
                                        <p>
                                            V šolo programiranja SmartNinja smo poslali našega pripravnika. V kratkem času je zelo
                                            hitro napredoval in zdaj že dela na enem izmed naših večjih projektov. Šolo
                                            programiranja SmartNinja zato močno priporočam!
                                        </p>
                                        <small>Gregor Nanger, Voco</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>

                        <!-- Quote 5 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img class="img-circle" src="/assets/img/public/tamara.jpg" alt="Tamara Pešnjardo">
                                    </div>
                                    <div class="col-sm-9">
                                        <p>
                                            Tečaj je bil odlično izpeljan, s pomočjo inštruktorjov smo zelo hitro
                                            napredovali. Na koncu smo bili
                                            vsi udeleženci zmožni narediti svojo lastno spletno stran iz nule. Za to izkušnjo sem
                                            SmartNinji izjemno hvaležna!
                                        </p>
                                        <small>Tamara Pešnjardo</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End testimonials -->

<!-- PARTNERS -->
<section id="mentor_content" class="style-2">
    <div class="row add_bottom_30" style="margin-right:0px; margin-left:0px;">
        <div class="col-md-12 text-center">
            <h2>Naši partnerji</h2>
            <p>Podjetja in organizacije, ki sodelujejo z nami.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-6">
                <p><img src="http://i.imgur.com/zfPPOVk.jpg" alt="D.Labs" class="img-responsive"></p>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <p><img src="/assets/img/public/INICIATIVA.jpg" alt="Iniciativa Start:up Slovenija" class="img-responsive"></p>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <p><img src="http://i.imgur.com/DOu1EHw.jpg" alt="Microsoft" class="img-responsive"></p>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <p><img src="http://i.imgur.com/GVr3qI5.jpg" alt="Domenca" class="img-responsive"></p>
            </div>

        </div><!-- End row -->

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/partners" class="button_outline">Poglej ostale partnerje</a>
            </div>
        </div>
    </div><!-- End container -->
</section>
<!-- End courses-->

<section id="join">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="row">
                    <div class="col-md-2 hidden-sm hidden-xs"><img src="/assets/img/public/arrow_hand_1.png" alt="Arrow" > </div>
                    <div class="col-md-8"><a href="/courses" class="button_big">Nauči se nekaj novega!</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}