{% extends "public/base.html" %}

{% block title %}Nauči se programirati{% endblock title %}

{% block main_content %}
<div class="jumbotron">
    <h1>SmartNinja tečaji programiranja</h1>

    <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work.
        It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
    </p>

    <p>
        <a class="btn btn-lg btn-primary" href="/admin" role="button">Go to admin</a>
    </p>
</div>
{% endblock main_content %}