{% extends "public/base.html" %}

{% block title %}Šola programiranja{% endblock title %}

{% block main_content %}
<!-- End sub-header -->
<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Ne diploma, štejejo veščine</h1>
                <br>
                <p class="lead boxed ">Nauči se programirati s tečaji SmartNinja</p>

                <a href="#prijava" class="button_top button_big_red prijava">Poglej si tečaje</a>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->

    <div class="divider_top"></div>
</section>
<!-- End sub-header -->

<!-- WHY SMART NINJA -->
<section id="main-features">
    <div class="divider_top_black"></div>
    <div class="container">

        <div class="row">
            <div class=" col-md-10 col-md-offset-1 text-center">
                <h2>Zakaj izbrati tečaje SmartNinja</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet, ius minim gubergren ad. <br>
                    At mei sumo sonet audiam, ad mutat elitr platonem vix. Ne nisl idque fierent vix. Ferri clitaponderum ne.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-trophy"></i>
                    <h3>Uporabne veščine</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet
                        deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class=" icon-ok-4"></i>
                    <h3>Izkušeni mentorji</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet
                        deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-mic"></i>
                    <h3>Sodelujemo z delodajalci</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet
                        deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature">
                    <i class="icon-video"></i>
                    <h3>Veščine, ki ti dajejo varnost in svobodo</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet
                        deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>

            </div><!-- End row -->
        </div><!-- End container -->
</section><!-- End main-features -->

<!-- COURSES -->
<section id="main_content_gray">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Tečaji</h2>
                <p class="lead">Lorem ipsum dolor sit amet, ius minim gubergren ad.</p>
            </div>
        </div><!-- End row -->

        <div class="row">

            {% for course in courses %}
            <!-- COURSE -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="col-item">
                    <span class="ribbon_course"></span>

                    <div class="photo">
                        <a href="#"><img src="{{course.image_url}}" /></a>
                        <div class="cat_row">

                            <a href="#" class="category">{{course.category}}</a>

                            <span class="pull-right">
                                <i class=" icon-calendar"></i>{{course.start_date.day}}.{{course.start_date.month}}.{{course.start_date.year}}
                            </span>
                        </div>
                    </div>

                    <div class="info">
                        <div class="row">
                            <div class="course_info col-md-12 col-sm-12">
                                <h4><a href="/course/{{course.get_id}}">{{course.title}}</a></h4>
                                <p> {{course.summary}} </p>
                                <div class="price pull-right">Že za {{course.price_min}} {{course.currency}}</div>
                            </div>
                        </div>
                        <br>
                        <div class="separator clearfix">
                            <p class="btn-add"> <a href="#"><i class="icon-export-4"></i> Prijavi se</a></p>
                            <p class="btn-details"> <a href="#"><i class=" icon-list"></i> Več ...</a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div><!-- End row -->

        <div class="row">
            <div class="col-md-12">
                <a href="#" class="button_medium_outline pull-right">Poglej vse tečaje</a>
            </div>
        </div>
    </div>   <!-- End container -->
</section>
<!-- End courses -->

<!-- TESTIMONIALS -->
<section id="mentor_content" class="style-2">
    <div class="row add_bottom_30">
        <div class="col-md-12 text-center">
            <h2>Kaj pravijo o SmartNinji</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="/assets/img/public/mitja.jpg" alt="Mitja Kastelic" class="img-circle img-medium styled"></p>
                    <h4 class="p-title">Mitja Kastelic <small>Udeleženec</small></h4>
                    <p>V šoli SmartNinja sem spoznal osnove
                        programiranja v Pythonu in izdelovanja spletnih strani s HTML, CSS in jQuery.
                        Pomoč mentorjev mi je pomagala hitreje napredovati pri učenju, kot
                        pa če bi se učil čisto sam.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="/assets/img/public/uros.jpg" alt="Uroš Plavec" class="img-circle img-medium styled"></p>
                    <h4 class="p-title">Uroš Plavec <small>Udeleženec</small></h4>
                    <p>Šola programiranja SmartNinja mi je pomagal izboljšati svoje znanje izdelave spletnih
                        strani. Naučil sem se ogrodja Bootstrap, uporabe GIT-a ter osnov JavaScripta.
                        Vse našteto zdaj že uporabljam pri delu v novi službi.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="/assets/img/public/gregor.jpg" alt="Gregor Nanger" class="img-circle img-medium styled"></p>
                    <h4 class="p-title">Gregor Nanger <small>Voco</small></h4>
                    <p>V šolo programiranja SmartNinja smo poslali našega pripravnika. V kratkem času je zelo
                        hitro napredoval in zdaj že dela na enem izmed naših večjih projektov. Šolo
                        programiranja SmartNinja zato močno priporočam!
                    </p>
                </div>
            </div>

        </div><!-- End row -->

        <div class="row">
            <div class="col-md-12">
                <a href="#" class="button_medium_outline pull-right">Poglej naše partnerje</a>
            </div>
        </div>
    </div><!-- End container -->
</section>
<!-- End courses-->

<section id="join">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="row">
                    <div class="col-md-2 hidden-sm hidden-xs"><img src="/assets/img/public/arrow_hand_1.png" alt="Arrow" > </div>
                    <div class="col-md-8"><a href="#" class="button_big">Nauči se nekaj novega!</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}