{% extends "public/base3.html" %}

{% block title %}Šola programiranja{% endblock title %}

{% block main_content %}
<!-- End sub-header -->
<section id="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1>Ne diploma, štejejo veščine</h1>
                <br>
                <p class="lead boxed ">Nauči se programirati s tečaji SmartNinja</p>

                <a href="#prijava" class="button_top button_big_red prijava">Poglej si tečaje</a>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->

    <div class="divider_top"></div>
</section>
<!-- End sub-header -->

<!-- COURSES -->
<section id="main_content_gray">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Tečaji</h2>
                <p class="lead">Lorem ipsum dolor sit amet, ius minim gubergren ad.</p>
            </div>
        </div><!-- End row -->

        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="col-item">
                    <span class="ribbon_course"></span>
                    <div class="photo">
                        <div class="cat_row">
                            <a href="#">PROGRAMIRANJE</a><span class="pull-right"><i class=" icon-calendar"></i>15. marec 2015</span>
                        </div>
                    </div>

                    <div class="info">
                        <div class="row">
                            <div class="course_info col-md-12 col-sm-12">
                                <h4>Web development (Ljubljana)</h4>
                                <p> Trimesečni tečaj osnov programiranja z jeziki HTML, CSS, JavaScript in Python. Udeleženec se obenem
                                    nauči uporabljati orodja GIT, Bootstrap, jQuery in Google App Engine.
                                </p>

                                <div class="price pull-right">350,00 EUR</div>
                            </div>
                        </div>

                        <br>

                        <div class="separator clearfix">
                            <p class="btn-add"> <a href="#"><i class="icon-export-4"></i> Prijavi se</a></p>
                            <p class="btn-details"> <a href="#"><i class=" icon-list"></i> Več...</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="col-item">
                    <span class="ribbon_course"></span>
                    <div class="photo">
                        <div class="cat_row">
                            <a href="#">PROGRAMIRANJE</a><span class="pull-right"><i class=" icon-calendar"></i>15. marec 2015</span>
                        </div>
                    </div>

                    <div class="info">
                        <div class="row">
                            <div class="course_info col-md-12 col-sm-12">
                                <h4>Web development (NM)</h4>
                                <p> Trimesečni tečaj osnov programiranja z jeziki HTML, CSS, JavaScript in Python. Udeleženec se obenem
                                    nauči uporabljati orodja GIT, Bootstrap, jQuery in Google App Engine.
                                </p>

                                <div class="price pull-right">350,00 EUR</div>
                            </div>
                        </div>

                        <br>

                        <div class="separator clearfix">
                            <p class="btn-add"> <a href="#"><i class="icon-export-4"></i> Prijavi se</a></p>
                            <p class="btn-details"> <a href="#"><i class=" icon-list"></i> Več...</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="col-item">
                    <span class="ribbon_course"></span>
                    <div class="photo">
                        <div class="cat_row">
                            <a href="#">PROGRAMIRANJE</a><span class="pull-right"><i class=" icon-calendar"></i>15. marec 2015</span>
                        </div>
                    </div>

                    <div class="info">
                        <div class="row">
                            <div class="course_info col-md-12 col-sm-12">
                                <h4>Android development</h4>
                                <p> Trimesečni tečaj osnov programiranja z jeziki HTML, CSS, JavaScript in Python. Udeleženec se obenem
                                    nauči uporabljati orodja GIT, Bootstrap, jQuery in Google App Engine.
                                </p>

                                <div class="price pull-right">350,00 EUR</div>
                            </div>
                        </div>

                        <br>

                        <div class="separator clearfix">
                            <p class="btn-add"> <a href="#"><i class="icon-export-4"></i> Prijavi se</a></p>
                            <p class="btn-details"> <a href="#"><i class=" icon-list"></i> Več...</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="col-item">
                    <span class="ribbon_course"></span>
                    <div class="photo">
                        <div class="cat_row">
                            <a href="#">PROGRAMIRANJE</a><span class="pull-right"><i class=" icon-calendar"></i>15. marec 2015</span>
                        </div>
                    </div>

                    <div class="info">
                        <div class="row">
                            <div class="course_info col-md-12 col-sm-12">
                                <h4>Grafično oblikovanje</h4>
                                <p> Trimesečni tečaj osnov programiranja z jeziki HTML, CSS, JavaScript in Python. Udeleženec se obenem
                                    nauči uporabljati orodja GIT, Bootstrap, jQuery in Google App Engine.
                                </p>

                                <div class="price pull-right">350,00 EUR</div>
                            </div>
                        </div>

                        <br>

                        <div class="separator clearfix">
                            <p class="btn-add"> <a href="#"><i class="icon-export-4"></i> Coming soon</a></p>
                            <p class="btn-details"> <a href="#"><i class=" icon-list"></i> Več...</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- End row -->

        <div class="row">
            <div class="col-md-12">
                <a href="#" class="button_medium_outline pull-right">Poglej vse tečaje</a>
            </div>
        </div>
    </div>   <!-- End container -->
</section>
<!-- End courses -->

<!-- TESTIMONIALS -->
<section id="mentor_content" class="style-2">
    <div class="row add_bottom_30">
        <div class="col-md-12 text-center">
            <h2>Kaj pravijo o SmartNinji</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="/assets/img/public/mitja.jpg" alt="Mitja Kastelic" class="img-circle img-medium styled"></p>
                    <h4 class="p-title">Mitja Kastelic <small>Udeleženec</small></h4>
                    <p>V šoli SmartNinja sem spoznal osnove
                        programiranja v Pythonu in izdelovanja spletnih strani s HTML, CSS in jQuery.
                        Pomoč mentorjev mi je pomagala hitreje napredovati pri učenju, kot
                        pa če bi se učil čisto sam.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="/assets/img/public/uros.jpg" alt="Uroš Plavec" class="img-circle img-medium styled"></p>
                    <h4 class="p-title">Uroš Plavec <small>Udeleženec</small></h4>
                    <p>Šola programiranja SmartNinja mi je pomagal izboljšati svoje znanje izdelave spletnih
                        strani. Naučil sem se ogrodja Bootstrap, uporabe GIT-a ter osnov JavaScripta.
                        Vse našteto zdaj že uporabljam pri delu v novi službi.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class=" box_style_3">
                    <p><img src="/assets/img/public/gregor.jpg" alt="Gregor Nanger" class="img-circle img-medium styled"></p>
                    <h4 class="p-title">Gregor Nanger <small>Voco</small></h4>
                    <p>V šolo programiranja SmartNinja smo poslali našega pripravnika. V kratkem času je zelo
                        hitro napredoval in zdaj že dela na enem izmed naših večjih projektov. Šolo
                        programiranja SmartNinja zato močno priporočam!
                    </p>
                </div>
            </div>

        </div><!-- End row -->
    </div><!-- End container -->
</section>
<!-- End courses-->

<!-- PARTNERS-->
<section id="testimonials">
    <div class="container">

        <div class="row">
            <div class='col-md-offset-2 col-md-8 text-center'>
                <h2>Partnerji</h2>
                <p>Delodajalci, ki sodelujejo z nami.</p>
            </div>
        </div>


    </div>
</section>
<!-- End partners -->
{% endblock main_content %}