{% extends "public/base2.html" %}

{% block title %}Hvala za prijavo na e-novice{% endblock title %}

{% block main_content %}
<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Skoraj tam...</h2>
                <br>
                <p>V kratkem boš na svoj email naslov prejel/a email, kjer potrdiš prijavo na e-novice. Hvala!</p>
                <br>
                <a href="/"><img src="/assets/img/public/smartninja_logo.png"></a>
            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->
{% endblock main_content %}