{% extends "public/base.html" %}

{% block title %}Partnerji{% endblock title %}

{% block main_content %}
<section id="sub-header-small">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Partnerji</h1>
            <br>
			<p class="lead boxed ">Delodajalci in drugi partnerji, ki sodelujejo z nami</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
    <div class="container">

        <div class="row">

            <!-- IDEAZ -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#ideaz">
                    <img src="/assets/img/public/IDEAZ.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal Ideaz -->
              <div class="modal fade" id="ideaz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Ideaz</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Spletna agencija Ideaz</strong></p>

                              <p>
                                  Spletno agencijo Ideaz sestavlja ekipa mladih strokovnjakov z večletnimi izkušnjami na področju
                                  spletnega oglaševanja, mednarodnega poslovanja, informatike in trženja. Specializirani so za
                                  oglaševanje na Googlu in Facebooku ter izdelavo spletnih strani, ki spremljajo in dopolnjujejo
                                  njihove oglaševalske napore. Spletna agencija Ideaz je nacionalna zmagovalka tekmovanja Google
                                  All Stars, kar jih uvršča v elitno družbo najboljših svetovnih agencij, ki se ukvarjajo z Google
                                  Adwords. </p>

                              <p>Zelo velik poudarek dajejo spletni analitiki, ki jim omogoča vpogled v kakovost spletnih
                                  strani in oglaševalskih akcij ter jim hkrati daje smernice za izboljšave. Njihov sedež je v
                                  Novem mestu, delujejo na področju celotne Slovenije, čedalje več pa tudi v tujini. S pomočjo
                                  spleta namreč številnim slovenskim podjetjem pomagajo prodreti na tuje trge, čedalje več pa
                                  delajo tudi za tuje stranke.
                              </p>

                              <a href="http://www.ideaz.si/"><strong>http://www.ideaz.si/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END IDEAZ -->

            <!-- INICIATIVA -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#iniciativa">
                    <img src="/assets/img/public/INICIATIVA.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal -->
              <div class="modal fade" id="iniciativa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Iniciativa Start:up Slovenija</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Iniciativa Start:up Slovenija</strong></p>

                              <p>
                                  Iniciativa Start:up Slovenija je odgovor na vse večji zaostanek v evoluciji slovenskega startup ekosistema.
                                  Zato smo se leta 2011 vodilni subjekti inovativnega okolja pričeli povezovati v
                                  Iniciativo Start:up Slovenija, da bi oblikovali in okrepili nacionalne programe za
                                  spodbujanje podjetništva ter zagotovili mrežo celostne podpore za zagon in izgradnjo
                                  startup podjetij po vsej Sloveniji.
                              </p>

                              <p>V iniciativo smo že povezani Tovarna podjemov,Tehnološki park Ljubljana, Primorski
                                  tehnološki park, RC IKT, Pomurski tehnološki park, RCR Zasavje in Inkubator Savinjske
                                  regije. Sočasno smo se povezali še z ostalimi ključnimi deležniki startup ekosistema,
                                  zapisali temeljno nacionalno strategijo Start:up manifest in oblikovali ter nadgradili
                                  številne programe za aktivacijo talentov, izgradnjo startup podjetij in njihovo globalno
                                  rast. Iniciativa Start:up Slovenija je odprta platforma, ki se ji lahko z izjavo podpore
                                  priključijo različne organizacije in posamezniki, ki želijo prispevati k viziji
                                  dinamične, podjetniškim talentom prijazne države.
                              </p>

                              <a href="http://www.startup.si/"><strong>http://www.startup.si/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END IDEAZ -->

            <!-- IDEAZ -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#ideaz">
                    <img src="/assets/img/public/IDEAZ.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal Ideaz -->
              <div class="modal fade" id="ideaz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Ideaz</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Spletna agencija Ideaz</strong></p>

                              <p>
                                  Spletno agencijo Ideaz sestavlja ekipa mladih strokovnjakov z večletnimi izkušnjami na področju
                                  spletnega oglaševanja, mednarodnega poslovanja, informatike in trženja. Specializirani so za
                                  oglaševanje na Googlu in Facebooku ter izdelavo spletnih strani, ki spremljajo in dopolnjujejo
                                  njihove oglaševalske napore. Spletna agencija Ideaz je nacionalna zmagovalka tekmovanja Google
                                  All Stars, kar jih uvršča v elitno družbo najboljših svetovnih agencij, ki se ukvarjajo z Google
                                  Adwords. </p>

                              <p>Zelo velik poudarek dajejo spletni analitiki, ki jim omogoča vpogled v kakovost spletnih
                                  strani in oglaševalskih akcij ter jim hkrati daje smernice za izboljšave. Njihov sedež je v
                                  Novem mestu, delujejo na področju celotne Slovenije, čedalje več pa tudi v tujini. S pomočjo
                                  spleta namreč številnim slovenskim podjetjem pomagajo prodreti na tuje trge, čedalje več pa
                                  delajo tudi za tuje stranke.
                              </p>

                              <a href="http://www.ideaz.si/"><strong>http://www.ideaz.si/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END IDEAZ -->

            <!-- IDEAZ -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#ideaz">
                    <img src="/assets/img/public/IDEAZ.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal Ideaz -->
              <div class="modal fade" id="ideaz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Ideaz</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Spletna agencija Ideaz</strong></p>

                              <p>
                                  Spletno agencijo Ideaz sestavlja ekipa mladih strokovnjakov z večletnimi izkušnjami na področju
                                  spletnega oglaševanja, mednarodnega poslovanja, informatike in trženja. Specializirani so za
                                  oglaševanje na Googlu in Facebooku ter izdelavo spletnih strani, ki spremljajo in dopolnjujejo
                                  njihove oglaševalske napore. Spletna agencija Ideaz je nacionalna zmagovalka tekmovanja Google
                                  All Stars, kar jih uvršča v elitno družbo najboljših svetovnih agencij, ki se ukvarjajo z Google
                                  Adwords. </p>

                              <p>Zelo velik poudarek dajejo spletni analitiki, ki jim omogoča vpogled v kakovost spletnih
                                  strani in oglaševalskih akcij ter jim hkrati daje smernice za izboljšave. Njihov sedež je v
                                  Novem mestu, delujejo na področju celotne Slovenije, čedalje več pa tudi v tujini. S pomočjo
                                  spleta namreč številnim slovenskim podjetjem pomagajo prodreti na tuje trge, čedalje več pa
                                  delajo tudi za tuje stranke.
                              </p>

                              <a href="http://www.ideaz.si/"><strong>http://www.ideaz.si/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END IDEAZ -->

          </div><!-- End row -->

        <div class="row">

            <!-- USTVARJALNIK -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#ustvarjalnik">
                    <img src="/assets/img/public/USTVARJALNIK.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal -->
              <div class="modal fade" id="ustvarjalnik" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Ustvarjalnik</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Ustvarjalnik</strong></p>

                              <p>
                                  Ustvarjalnik je pospeševalnik mladinskega podjetništva, ali ljubkovalno podjetniški
                                  peskovnik. Namenjen je vsem tistim, ki delajo svoje prve podjetniške korake. Mlade
                                  učimo, da se preživljajo s svojimi veščinami in jih spodbujamo, da iz svojega hobija
                                  ustvarijo podjetje. Po srednjih šolah iz vse Slovenije organiziramo mrežo podjetniških
                                  krožkov, kjer se dijaki enkrat tedensko srečujejo in v letu dni izpeljejo svoj prvi
                                  podjetniški projekt.
                              </p>

                              <a href="http://www.ustvarjalnik.org/"><strong>http://www.ustvarjalnik.org/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END-->

            <!-- MEDIODROM -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#mediodrom">
                    <img src="/assets/img/public/MEDIODROM.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal -->
              <div class="modal fade" id="mediodrom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Mediodrom</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Mediodrom</strong></p>

                              <p>
                                  Perfekcionisti po srcu, kreativci po naravi. Uporabljamo domišljijo, razmišljamo
                                  strateško in delujemo proaktivno. Ustvarjamo digitalne izkušnje, ki navdihujejo,
                                  izzivajo, motivirajo in vključujejo uporabnike. Smo sveži, a izkušeni. Mladi, a
                                  izobraženi. Zagnani, a ne zaletavi. Od prvih spletnih korakov, digitalne strategije,
                                  nastopa na družbena omrežja, ki je do potankosti v skladu z vašo korporativno
                                  identiteto, do Twitta v pravem trenutku, pa do harmoničnega kompromisa med
                                  učinkovitostjo in privlačnostjo vaših aplikacij. Izkoristimo nove platforme in stare
                                  zgodbe napišimo na nov, digitalen način.
                              </p>

                              <a href="http://mediodromonline.com/"><strong>http://mediodromonline.com/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END-->

            <!-- IDEAZ -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#ideaz">
                    <img src="/assets/img/public/IDEAZ.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal Ideaz -->
              <div class="modal fade" id="ideaz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Ideaz</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Spletna agencija Ideaz</strong></p>

                              <p>
                                  Spletno agencijo Ideaz sestavlja ekipa mladih strokovnjakov z večletnimi izkušnjami na področju
                                  spletnega oglaševanja, mednarodnega poslovanja, informatike in trženja. Specializirani so za
                                  oglaševanje na Googlu in Facebooku ter izdelavo spletnih strani, ki spremljajo in dopolnjujejo
                                  njihove oglaševalske napore. Spletna agencija Ideaz je nacionalna zmagovalka tekmovanja Google
                                  All Stars, kar jih uvršča v elitno družbo najboljših svetovnih agencij, ki se ukvarjajo z Google
                                  Adwords. </p>

                              <p>Zelo velik poudarek dajejo spletni analitiki, ki jim omogoča vpogled v kakovost spletnih
                                  strani in oglaševalskih akcij ter jim hkrati daje smernice za izboljšave. Njihov sedež je v
                                  Novem mestu, delujejo na področju celotne Slovenije, čedalje več pa tudi v tujini. S pomočjo
                                  spleta namreč številnim slovenskim podjetjem pomagajo prodreti na tuje trge, čedalje več pa
                                  delajo tudi za tuje stranke.
                              </p>

                              <a href="http://www.ideaz.si/"><strong>http://www.ideaz.si/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END IDEAZ -->

            <!-- IDEAZ -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#ideaz">
                    <img src="/assets/img/public/IDEAZ.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal Ideaz -->
              <div class="modal fade" id="ideaz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Ideaz</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Spletna agencija Ideaz</strong></p>

                              <p>
                                  Spletno agencijo Ideaz sestavlja ekipa mladih strokovnjakov z večletnimi izkušnjami na področju
                                  spletnega oglaševanja, mednarodnega poslovanja, informatike in trženja. Specializirani so za
                                  oglaševanje na Googlu in Facebooku ter izdelavo spletnih strani, ki spremljajo in dopolnjujejo
                                  njihove oglaševalske napore. Spletna agencija Ideaz je nacionalna zmagovalka tekmovanja Google
                                  All Stars, kar jih uvršča v elitno družbo najboljših svetovnih agencij, ki se ukvarjajo z Google
                                  Adwords. </p>

                              <p>Zelo velik poudarek dajejo spletni analitiki, ki jim omogoča vpogled v kakovost spletnih
                                  strani in oglaševalskih akcij ter jim hkrati daje smernice za izboljšave. Njihov sedež je v
                                  Novem mestu, delujejo na področju celotne Slovenije, čedalje več pa tudi v tujini. S pomočjo
                                  spleta namreč številnim slovenskim podjetjem pomagajo prodreti na tuje trge, čedalje več pa
                                  delajo tudi za tuje stranke.
                              </p>

                              <a href="http://www.ideaz.si/"><strong>http://www.ideaz.si/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END IDEAZ -->

          </div><!-- End row -->

    </div><!-- End container -->
</section><!-- End main_content-->
{% endblock main_content %}