{% extends "public/base.html" %}

{% block title %}Partnerji{% endblock title %}

{% block main_content %}
<section id="sub-header-small">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Partnerji</h1>
            <br>
			<p class="lead boxed ">Delodajalci in drugi partnerji, ki sodelujejo z nami</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
    <div class="container">

        <div class="row">

            <!-- IDEAZ -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#ideaz">
                    <img src="/assets/img/public/IDEAZ.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal Ideaz -->
              <div class="modal fade" id="ideaz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Ideaz</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Spletna agencija Ideaz</strong></p>

                              <p>
                                  Spletno agencijo Ideaz sestavlja ekipa mladih strokovnjakov z večletnimi izkušnjami na področju
                                  spletnega oglaševanja, mednarodnega poslovanja, informatike in trženja. Specializirani so za
                                  oglaševanje na Googlu in Facebooku ter izdelavo spletnih strani, ki spremljajo in dopolnjujejo
                                  njihove oglaševalske napore. Spletna agencija Ideaz je nacionalna zmagovalka tekmovanja Google
                                  All Stars, kar jih uvršča v elitno družbo najboljših svetovnih agencij, ki se ukvarjajo z Google
                                  Adwords. </p>

                              <p>Zelo velik poudarek dajejo spletni analitiki, ki jim omogoča vpogled v kakovost spletnih
                                  strani in oglaševalskih akcij ter jim hkrati daje smernice za izboljšave. Njihov sedež je v
                                  Novem mestu, delujejo na področju celotne Slovenije, čedalje več pa tudi v tujini. S pomočjo
                                  spleta namreč številnim slovenskim podjetjem pomagajo prodreti na tuje trge, čedalje več pa
                                  delajo tudi za tuje stranke.
                              </p>

                              <a href="http://www.ideaz.si/"><strong>http://www.ideaz.si/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END IDEAZ -->

            <!-- IDEAZ -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#ideaz">
                    <img src="/assets/img/public/IDEAZ.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal Ideaz -->
              <div class="modal fade" id="ideaz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Ideaz</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Spletna agencija Ideaz</strong></p>

                              <p>
                                  Spletno agencijo Ideaz sestavlja ekipa mladih strokovnjakov z večletnimi izkušnjami na področju
                                  spletnega oglaševanja, mednarodnega poslovanja, informatike in trženja. Specializirani so za
                                  oglaševanje na Googlu in Facebooku ter izdelavo spletnih strani, ki spremljajo in dopolnjujejo
                                  njihove oglaševalske napore. Spletna agencija Ideaz je nacionalna zmagovalka tekmovanja Google
                                  All Stars, kar jih uvršča v elitno družbo najboljših svetovnih agencij, ki se ukvarjajo z Google
                                  Adwords. </p>

                              <p>Zelo velik poudarek dajejo spletni analitiki, ki jim omogoča vpogled v kakovost spletnih
                                  strani in oglaševalskih akcij ter jim hkrati daje smernice za izboljšave. Njihov sedež je v
                                  Novem mestu, delujejo na področju celotne Slovenije, čedalje več pa tudi v tujini. S pomočjo
                                  spleta namreč številnim slovenskim podjetjem pomagajo prodreti na tuje trge, čedalje več pa
                                  delajo tudi za tuje stranke.
                              </p>

                              <a href="http://www.ideaz.si/"><strong>http://www.ideaz.si/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END IDEAZ -->

            <!-- IDEAZ -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#ideaz">
                    <img src="/assets/img/public/IDEAZ.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal Ideaz -->
              <div class="modal fade" id="ideaz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Ideaz</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Spletna agencija Ideaz</strong></p>

                              <p>
                                  Spletno agencijo Ideaz sestavlja ekipa mladih strokovnjakov z večletnimi izkušnjami na področju
                                  spletnega oglaševanja, mednarodnega poslovanja, informatike in trženja. Specializirani so za
                                  oglaševanje na Googlu in Facebooku ter izdelavo spletnih strani, ki spremljajo in dopolnjujejo
                                  njihove oglaševalske napore. Spletna agencija Ideaz je nacionalna zmagovalka tekmovanja Google
                                  All Stars, kar jih uvršča v elitno družbo najboljših svetovnih agencij, ki se ukvarjajo z Google
                                  Adwords. </p>

                              <p>Zelo velik poudarek dajejo spletni analitiki, ki jim omogoča vpogled v kakovost spletnih
                                  strani in oglaševalskih akcij ter jim hkrati daje smernice za izboljšave. Njihov sedež je v
                                  Novem mestu, delujejo na področju celotne Slovenije, čedalje več pa tudi v tujini. S pomočjo
                                  spleta namreč številnim slovenskim podjetjem pomagajo prodreti na tuje trge, čedalje več pa
                                  delajo tudi za tuje stranke.
                              </p>

                              <a href="http://www.ideaz.si/"><strong>http://www.ideaz.si/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END IDEAZ -->

            <!-- IDEAZ -->
            <div class="col-md-3 col-sm-3 col-xs-6 picture">
                <a href="#" data-toggle="modal" data-target="#ideaz">
                    <img src="/assets/img/public/IDEAZ.jpg" alt="" class="img-responsive">
                </a>
            </div>

              <!-- Modal Ideaz -->
              <div class="modal fade" id="ideaz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="sm-title">Ideaz</h4>
                          </div>
                          <div class="modal-body">
                              <p><strong>Spletna agencija Ideaz</strong></p>

                              <p>
                                  Spletno agencijo Ideaz sestavlja ekipa mladih strokovnjakov z večletnimi izkušnjami na področju
                                  spletnega oglaševanja, mednarodnega poslovanja, informatike in trženja. Specializirani so za
                                  oglaševanje na Googlu in Facebooku ter izdelavo spletnih strani, ki spremljajo in dopolnjujejo
                                  njihove oglaševalske napore. Spletna agencija Ideaz je nacionalna zmagovalka tekmovanja Google
                                  All Stars, kar jih uvršča v elitno družbo najboljših svetovnih agencij, ki se ukvarjajo z Google
                                  Adwords. </p>

                              <p>Zelo velik poudarek dajejo spletni analitiki, ki jim omogoča vpogled v kakovost spletnih
                                  strani in oglaševalskih akcij ter jim hkrati daje smernice za izboljšave. Njihov sedež je v
                                  Novem mestu, delujejo na področju celotne Slovenije, čedalje več pa tudi v tujini. S pomočjo
                                  spleta namreč številnim slovenskim podjetjem pomagajo prodreti na tuje trge, čedalje več pa
                                  delajo tudi za tuje stranke.
                              </p>

                              <a href="http://www.ideaz.si/"><strong>http://www.ideaz.si/</strong></a>

                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                          </div>
                      </div>
                  </div>
              </div>
            <!-- END IDEAZ -->

          </div><!-- End row -->


    </div><!-- End container -->
</section><!-- End main_content-->
{% endblock main_content %}