{% extends "public/base.html" %}

{% block title %}Partnerji{% endblock title %}

{% block main_content %}
<section id="sub-header-small">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Partnerji</h1>
            <br>
			<p class="lead boxed ">Delodajalci in drugi partnerji, ki sodelujejo z nami</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
<div class="container">

    			<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6 picture">
						<a href="/assets/img/public/android_small.png" title="Title" class="fancybox" rel="gallery1" >
						<span class="photo_icon"><i class="icon-picture-4"></i></span>
						<img src="/assets/img/public/android_small.png" alt="" class="img-responsive">
						</a>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 picture">
						<a href="/assets/img/public/android_small.png" title="Title" class="fancybox" rel="gallery1">
						<span class="photo_icon"><i class="icon-picture-4"></i></span>
						<img src="/assets/img/public/android_small.png" alt="" class="img-responsive">
						</a>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 picture">
						<a class="fancybox-media" href="http://www.youtube.com/watch?v=opj24KnzrWo" title="Video youtube"  >
						<span class="photo_icon"><i class="icon-youtube-2"></i></span>
						<img src="/assets/img/public/android_small.png" alt="" class="img-responsive">
						</a>
					</div>
                    <div class="col-md-3 col-sm-3 col-xs-6 picture">
						<a class="fancybox-media" href="http://vimeo.com/36031564" title="Video Vimeo" >
						<span class="photo_icon"><i class="icon-vimeo-2"></i></span>
						<img src="/assets/img/public/android_small.png" alt="" class="img-responsive">
						</a>
					</div>
                  </div><!-- End row -->

                 <div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6 picture">
						<a class="fancybox-media" href="http://vimeo.com/36031564" title="Video Vimeo" >
						<span class="photo_icon"><i class="icon-vimeo-2"></i></span>
						<img src="/assets/img/public/android_small.png" alt="" class="img-responsive">
						</a>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 picture">
						<a href="/assets/img/public/android_small.png" title="Title" class="fancybox" rel="gallery1">
						<span class="photo_icon"><i class="icon-picture-4"></i></span>
						<img src="/assets/img/public/android_small.png" alt="" class="img-responsive">
						</a>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 picture">
						<a href="/assets/img/public/android_small.png" title="Title" class="fancybox" rel="gallery1">
						<span class="photo_icon"><i class="icon-picture-4"></i></span>
						<img src="/assets/img/public/android_small.png" alt="" class="img-responsive">
						</a>
					</div>
                    <div class="col-md-3 col-sm-3 col-xs-6 picture">
						<a href="/assets/img/public/android_small.png" title="Title" class="fancybox" rel="gallery1">
						<span class="photo_icon"><i class="icon-picture-4"></i></span>
						<img src="/assets/img/public/android_small.png" alt="" class="img-responsive">
						</a>
					</div>
                 </div><!-- End row -->

</div><!-- End container -->
</section><!-- End main_content-->
{% endblock main_content %}