{% extends "manager/base.html" %}

{% block title %}Delete course application{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-certificate"></i>  <a href="/manager/courses">Courses</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i>  <a href="/manager/course/{{application.course_id}}">{{ application.course_title }}</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Delete course application
                </li>
            </ol>

            <h1 class="page-header">
                Do you really want to delete {{ application.student_name }}'s application?
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-3">
            <form action="/manager/application/{{application.get_id}}/delete" method="post">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>

        <div class="col-lg-3">
            <a href="/manager/application/{{application.get_id}}"><button class="btn btn-default">Cancel</button></a>
        </div>
    </div>
</div>
{% endblock main_content %}