{% extends "manager/base.html" %}

{% block title %}Careers settings{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i>  Users
                </li>

                <li>
                    <i class="fa fa-envelope"></i> Careers settings
                </li>
            </ol>

            <h1 class="page-header">
                Careers settings
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- Tabs start -->
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/manager/users">Managers</a></li>
        <li role="presentation"><a href="/manager/users/employers">Employers</a></li>
        <li role="presentation"><a href="/manager/users/instructors">Instructors</a></li>
        <li role="presentation"><a href="/manager/users/students">Student access</a></li>
        <li role="presentation" class="active"><a href="/manager/careers">Careers settings</a></li>
    </ul>
    <!-- End Tabs -->

    <div class="row">
        <div class="col-lg-12">
            <p><strong>Text: </strong>{{text|nl2br}}</p>
            <p><strong>Google Forms URL: </strong>{{form_id}}</p>
            <p><strong>Site height: </strong>{{height}} px</p>

            <a><button class="btn btn-success" data-toggle="modal" data-target="#editCareersModal">Edit</button></a>
            <a href="/careers" target="_blank"><button class="btn btn-primary">See Careers site</button></a>
        </div>
    </div>

    <!-- Modal - contact the candidate -->
    <div class="modal fade" id="editCareersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action="/manager/careers/edit">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Careers site</h4>
                    </div>


                    <div class="modal-body">
                        <p>Google Forms ID: https://docs.google.com/forms/d/<input name="forms-id" value="{{form_id}}"></p>
                        <p>Site height: <input name="site-height" value="{{height}}"> px</p>

                        <label>Text for the site</label>
                        <textarea class="form-control" rows="8" name="text">{{text}}</textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End modal - contact the candidate -->
</div>
{% endblock main_content %}