{% extends "manager/base.html" %}

{% block title %}Lesson surveys{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-check"></i> Lesson surveys
                </li>
            </ol>

            <h1 class="page-header">
                Lesson surveys
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <h3>Lesson surveys for current or future courses</h3>

    {% if current_courses %}
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Place</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Instructor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in current_courses %}
                        <tr>
                            <td><a href="/manager/course/{{course.get_id}}/surveys">{{ course.title }}</a></td>
                            <td>{{ course.city }}, {{ course.place }}</td>
                            <td>{{course.start_date.day}}.{{course.start_date.month}}.{{course.start_date.year}}</td>
                            <td>{{course.end_date.day}}.{{course.end_date.month}}.{{course.end_date.year}}</td>
                            <td>
                                {% for instructor in course.course_instructors %}
                                    <a href="/manager/user/{{ instructor.user_id }}">
                                        {{ instructor.name }}
                                    </a>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.row -->
    {% else %}
        <p>No current or future courses</p>
    {% endif %}

    <hr>
    <a href="/manager/lesson-surveys/past"><button class="btn btn-info">See past courses</button></a>

</div>
{% endblock main_content %}