{% extends "manager/base.html" %}

{% block title %}Partners{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-briefcase"></i>  Partners
                </li>

                <li class="active">
                    <i class="fa fa-plus-square-o"></i> <a href="/manager/partner/add">Add new partner</a>
                </li>
            </ol>

            <h1 class="page-header">
                Partners
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-9">
            {% if partners %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Website</th>
                            <th>Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partner in partners %}
                        <tr>
                            <td><a href="/manager/partner/{{partner.get_id}}">{{ partner.title }}</a></td>
                            <td><a href="{{ partner.website }}">{{ partner.website }}</a></td>
                            <td>{{ partner.created.strftime('%d.%m.%Y') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <p>No partners yet</p>
            {% endif %}
        </div>

    </div>
</div>
{% endblock main_content %}