{% extends "manager/base.html" %}

{% block title %}Delete {{ this_user.get_full_name }}?{% endblock title %}

{% block main_content %}
<div class="main">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-users"></i>  <a href="/manager/users">Users</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i>  <a href="/manager/user/{{this_user.get_id}}">{{ this_user.get_full_name }}</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> User delete
                </li>
            </ol>

            <h1 class="page-header">
                Do you really want to delete {{ this_user.get_full_name }}?
            </h1>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <div class="row">
        <div class="col-lg-3">
            <form action="/manager/user/{{this_user.get_id}}/delete" method="post">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>

        <div class="col-lg-3">
            <a href="/manager/user/{{this_user.get_id}}"><button class="btn btn-default">Cancel</button></a>
        </div>
    </div>
</div>
{% endblock main_content %}