{% extends "public/base.html" %}

{% block title %}404 - ne obstaja{% endblock title %}

{% block main_content %}
<section id="sub-header-small">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>404</h1>
            <br>
			<p class="lead boxed ">Ne obstaja :(</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>Stran, ki jo iščeš ne obstaja (več), ali pa si se zatipkal/a.</h3>
                <br>
                <img class="img-responsive center-block" src="http://www.troll.me/images/aliens-white-castle/404-error-aliens.jpg">
            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->
{% endblock main_content %}