{% extends "public/base.html" %}

{% block title %}Ups{% endblock title %}

{% block main_content %}
<section id="sub-header-small">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h1>Ups</h1>
            <br>
			<p class="lead boxed ">Nekaj je šlo narobe :(</p>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<div class="divider_top"></div>
</section><!-- End sub-header -->

<section id="main_content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>Poskusi še enkrat - pojdi nazaj in osveži stran (CTRL + R).
                    Če se napaka ponovi, nam piši na info@smartninja.org. Hvala! :)</h3>
                <br>
                <img class="img-responsive center-block" src="http://memecrunch.com/meme/13STC/oops/image.png?w=400&c=1">
            </div>
        </div>
    </div><!-- End container -->
</section><!-- End main_content-->
{% endblock main_content %}